[2021-06-04 00:12] andrewjbtw opened #1585 "Provide method to retry stalled deposits that could be fixed by re-sending the same request"
Under some circumstances, deposits fail in a way that should be fixable by re-trying the deposit attempt after the underlying cause of the failure has been resolved. I'm thinking specifically of situations where a deposit has failed before any accessioning has begun to make the new version of the object.

For example, this deposit was stopped by a cocina model version mismatch: https://sul-h2-stag

[2021-06-04 00:18] jcoyne commented on #1574
Is "Version you **Work**" the correct text?  Should it be "Version your collection"?

[2021-06-04 10:10] honeybadger[bot] opened #1587 "[happy-heron/stage] RuntimeError: unexpected response: #<Faraday::Response:0x00000000063f18e8 @on_complete_callbacks=[], @env=#<Faraday::Env @method=:put @request_body=#<File:/data/h2-files/yk/1y/yk1y8xexzw1clb5c0wg06mv6wce5> @url=#<URI::HTTPS https://sdr-api-stage.stanford.edu/v1/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDam9JYTJWNVNTSWhNblIyT0haNU5IWnVkRFJzTkRWclpUaHJiRFkwYVhNMWFuQm5aZ1k2QmtWVU9oRmpiMjUwWlc1MFgzUjVjR1ZKSWgxaGNIQnNhV05oZEdsdmJpOXZZM1JsZEMxemRISmxZVzBHT3daVU9oTmpiMjUwWlc1MFgyeGxibWQwYUd3ck..."
## Backtrace

    line 49 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: upload_responses
    line 27 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 10 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79787375)

[2021-06-04 11:54] #1476 closed

[2021-06-04 12:20] #1578 closed

[2021-06-04 13:30] amyehodge commented on #1574
@ndushay Please asterisk both. And good catch, @jcoyne . This should say "Version your collection". It takes a village.

[2021-06-04 14:04] amyehodge commented on #1585
@andrewjbtw If the fixes in such cases will require manual intervention and/or may take some time resolve themselves without intervention, I don't think adding a button for all users is going to be useful. They will just click it immediately and repeatedly and if not successful in 30 seconds, will give up. It makes more sense to me to provide some kind of message to contact us so that we can inter

[2021-06-04 14:41] amyehodge commented on #1577
@astridu  Could you provide us with some help on this one?

The current display of the file upload error message is next to the "Choose file" button, which isn't a great location if you've just dragged over 30 files to upload and one of them fails. Especially since the message here doesn't include the filename.

Better, I think, is the other example Naomi has with the error by the file that has fa

[2021-06-04 15:16] amyehodge commented on #1282
@jcoyne Yes. ![Screen Shot 2021-06-04 at 11 16 33 AM](https://user-images.githubusercontent.com/5558511/120824316-55921c00-c526-11eb-800d-ae3be6943c3c.png)

[2021-06-04 15:21] #1574 closed

[2021-06-04 15:35] ndushay commented on #264
preferred component for typeahead?   "something that doesn't include jQuery"

we might need to proxy the back end ... can the front end query OCLC FAST directly?  (Do we want to have a rails controller query the QA server and return results to the front end?)

Using Cornell's QA has a search; not sure if OCLC FAST does;  Cornell's QA is implemented with blacklight so can query Solr ...

Cornell's

[2021-06-04 15:42] #1584 closed

[2021-06-04 15:47] ndushay commented on #264
Possible typeahead components:
- https://github.com/gch1p/bootstrap-5-autocomplete/
- https://www.algolia.com/doc/ui-libraries/autocomplete/introduction/what-is-autocomplete/ "This is a good one too, but more heavyweight" (JCoyne)
    - Source at https://github.com/algolia/autocomplete
-  https://github.com/alphagov/accessible-autocomplete "May also want to look at ... as it’s geared toward access

[2021-06-04 16:21] jcoyne commented on #1585
We are adding automatic retry in https://github.com/sul-dlss/happy-heron/pull/1593 which should obviate the need for a manual retry.

[2021-06-04 16:36] #1320 closed

[2021-06-04 17:00] jcoyne commented on #1149
@amyehodge if the depositor came from the dashboard and they discard a draft, won't they be surprised to end on the deposits list page? Especially if they can't see any other deposits in that collection?

[2021-06-04 18:17] astridu commented on #977
If there is only 1 entry, then don't show any arrows.
If there are 2 entries, show the down arrow in the first entry, and the up arrow in the second entry.
If there are 3+ entries, show the down arrow in the first entry, and the up and down arrows in the second and subsequent entries.
![image](https://user-images.githubusercontent.com/42216982/120845805-267baa80-c526-11eb-9a9d-44c4c90ec104.png)
![

[2021-06-04 18:26] astridu commented on #1577
How about something like this. We replace the thumbnail with the error icon, remove the progress bar and place the error message below the file name?

![image](https://user-images.githubusercontent.com/42216982/120846903-a1919080-c527-11eb-967c-0a9603ec6c6e.png)

[2021-06-04 18:35] amyehodge commented on #1527
This looks good to me.

[2021-06-04 18:40] #1527 closed

[2021-06-04 18:40] amyehodge commented on #1577
@astridu This feels much better to me. @ndushay and @jcoyne -- do you think this adequately addresses all the issues here?

[2021-06-04 18:42] amyehodge commented on #1149
I have found it very jarring to be dumped back on the dashboard page at this point. Users in testing also seemed to be a bit surprised by that. When thinking about where else they might land, this seemed the most logical place to me. @astridu, do you have any thoughts on this?

[2021-06-04 18:49] jcoyne commented on #1282
@amyehodge what is the size of the file you are uploading?  Unfortunately the 502 is a networking error and I'm not sure there's much we can do about it in this software.  If I'm able to duplicate the problem, then we might be able to send it to the operations team.

[2021-06-04 18:54] amyehodge commented on #1282
It was either 1.5 or 1.9GB. I can't remember which I chose. But I've never gotten either of them to work. Not from CA or from VT. It would make me feel better to see this work myself once, but if it works for others, then perhaps it's fine. We'll see if we get any issues reported from the initial set of users. I think we should just go ahead and close this one.

[2021-06-04 18:56] astridu commented on #1149
It could go either way, but if users are finding it jarring to end up back at the Dashboard, where there is little context for what they just did, it would be better if they all landed on the page with the list of deposits.

[2021-06-04 22:05] honeybadger[bot] opened #1597 "[happy-heron/stage] ArgumentError: Record must be specified"
## Backtrace

    line 41 of [PROJECT_ROOT]/app/controllers/works_controller.rb: edit

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79798668)

[2021-06-04 22:22] #1597 closed

[2021-06-04 23:15] jermnelson opened #1598 "Discarding Work Version in PURL Reserved state causes Error"
When a work version is in `purl_reserved` state and the **Discard draft** button is click, re-routing to the dashboard causes the following HoneyBadger error: https://app.honeybadger.io/projects/77112/faults/76781151.

[2021-06-07 13:24] #1282 closed

[2021-06-07 13:26] jcoyne commented on #1598
I'm not sure one should be able to discard a registered purl, because we have no way of de-registering a PURL.   I'd like @amyehodge and @andrewjbtw  to weigh in on how we ought to resolve this.

[2021-06-07 14:32] amyehodge commented on #1598
@jcoyne @jermnelson @andrewjbtw We have always allowed users to discard registered items in Hydrus. This seems equivalent to me. Users then no longer see these items in the application. However, I'm not clear on what happens to them on the back end, since they already have a druid assigned. Andrew would need to speak to that.

But, in short, yes, people will change their minds about needing these

[2021-06-07 16:13] jcoyne commented on #1598
Why do people want to clear them out? Won't they just use what they've already registered next time they need a druid?

[2021-06-07 16:15] andrewjbtw commented on #1598
A reserved Purl isn't a purl yet, it's just a registered druid. On the SDR/Fedora side, discarding it is the equivalent to purge. I think in Hydrus, discarding also must have had the extra steps of clearing the Hydrus index and the data folder on the hydrus filesystem if any files had been uploaded before the discard.

[2021-06-07 16:38] jcoyne commented on #1598
Apologies, I've been  using the wrong terminology.  We have no way to unregister a druid.  Do we want to create a bunch of druids that are never used yet we still have to keep track of?

[2021-06-07 17:03] amyehodge commented on #1598
I actually laughed out loud at this. This has not been our experience.

[2021-06-07 18:05] #1335 closed

[2021-06-07 22:14] #1024 closed

[2021-06-08 19:35] #1302 closed

[2021-06-08 21:33] #1154 closed

[2021-06-08 21:34] #1031 closed

[2021-06-08 22:09] #1345 closed

[2021-06-08 22:23] #1297 closed

[2021-06-08 22:24] #977 closed

[2021-06-08 22:25] #1550 closed

[2021-06-08 22:43] jcoyne commented on #1517
@astridu I don't know that we have the space for that. We are working in a 12 column grid system. I don't see where we are able to get any space for what you are asking for:

![Screen Shot 2021-06-08 at 5.38.48 PM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/5725d6b0-dcc7-4ed9-93ae-795bbb492853)
![Screen Shot 2021-06-08 at 5.38.36 PM.png](https://images.zenhubusercontent.com/

[2021-06-08 22:45] jcoyne commented on #1336
@amyehodge the link https://sul-h2-stage.stanford.edu/works/13373 no longer works.

[2021-06-08 22:48] #1376 closed

[2021-06-08 22:50] #1386 closed

[2021-06-08 23:02] #1342 closed

[2021-06-09 00:38] astridu commented on #1517
That's ok. It was a minor issue. Thanks for looking into it!

[2021-06-09 00:38] #1517 closed

[2021-06-09 13:52] jcoyne commented on #1368
Look into using `.table-striped`

[2021-06-09 14:15] amyehodge commented on #1336
@jcoyne Try this one: https://sul-h2-stage.stanford.edu/works/17893

[2021-06-09 15:26] jcoyne commented on #1336
What I'm seeing here is that each table is optimizing for the data that is contained within it.
<img width="1144" alt="Screen Shot 2021-06-09 at 10 20 13 AM" src="https://user-images.githubusercontent.com/92044/121382560-5652f580-c90c-11eb-9c2a-0c7a95125ad2.png">

If we made them all the same dimensions, certain things like the filenames in the second table would wrap, making them hard to read.  S

[2021-06-09 15:37] amyehodge commented on #1336
@hannahfrost reported this issue and may want to weigh in.

Some of the tables appear to align currently. For example, Description and Terms of Use seem to line up. Could we get the Release data and visibility table between those two tables to line up with them?

Could we get Authors and Contributors table and the Dates table to line up with each other?

@astridu what do you think?

[2021-06-09 15:59] honeybadger[bot] opened #1617 "[happy-heron/stage] Errno::ENOENT: No such file or directory @ rb_sysopen - /data/hydrus-files//db/586/ns/4974/db586ns4974/content/seda_codebook_cov_county_.xlsx"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79866942)

[2021-06-09 16:11] #1617 closed

[2021-06-09 16:28] honeybadger[bot] opened #1618 "[happy-heron/stage] ActiveRecord::RecordInvalid: Validation failed: Subtype is not a valid subtype for work type music"
@amyhodge Note to self: after this work is complete recheck what happens when you reserve a purl, attempt "music" without a subtype, and then click to edit the purl again. It is currently showing "music" as selected but the subtypes aren't visible unless you click another type and then "music" again. Either 1) music should not be displayed OR 2) the subtypes should be visible. Check how this is wo

[2021-06-09 16:30] amyehodge commented on #1618
@jcoyne I triggered this just now trying to test the work from #1320. I chose Music but then did not select a subtype.

[2021-06-09 16:34] amyehodge opened #1619 "Events in history table should appear in chronological order"
There was one entry on this table from June 2 (https://sul-h2-stage.stanford.edu/works/17455). Then I updated the record and deposited it just now (on June 9). Now the history looks like this, with June 2 as the third entry.

![Screen Shot 2021-06-09 at 12.32.57 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/96cd7516-4852-4cd6-b7e0-e554aec38147)

[2021-06-09 17:21] #1343 closed

[2021-06-09 17:21] #1344 closed

[2021-06-10 16:09] #1368 closed

[2021-06-10 16:10] #1518 closed

[2021-06-10 16:11] #1351 closed

[2021-06-10 16:50] #1149 closed

[2021-06-10 17:51] jcoyne opened #1630 "Inital Migration"
Initially we will migrate only 8 collections.

Then we will ensure the database has a snapshot of production (so we can fall back if we made an error).

Then we will migrate the rest of https://docs.google.com/spreadsheets/d/1hNxM5hobMzrptxLctWfzDGSrl0ueBg5xGtQ47wFKC2g/edit#gid=1972276175 *EXCLUDING* the initial 8, because we don't want any changes that were made via h2 to be overwritten with the

[2021-06-10 18:06] jcoyne commented on #1356
I couldn't reproduce in Firefox. Still an issue?

[2021-06-10 18:10] jcoyne commented on #1405
Disable these buttons for "draft" or "purl reserved"

[2021-06-10 18:11] jcoyne commented on #1405
@astridu what color should this button text be? The wireframes show blue, but we currently aren't showing any other blue except for tool tips.

[2021-06-10 18:21] astridu commented on #1405
They should be red like the other links and buttons.

[2021-06-10 18:25] jcoyne opened #1632 "Remove indent under "Your collections""
I think this is currently on `ul.collections`

[2021-06-10 18:27] jcoyne opened #1633 "Add a collapse/expand for "Your collections""
Similar to what we did for "All collections"

https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/434978163

Have the "Your collections" section start expanded by default.

[2021-06-10 18:42] jcoyne commented on #960
Closing because you can now delete the first author using the delete button.

[2021-06-10 18:42] #960 closed

[2021-06-10 18:52] amyehodge commented on #1356
Could not reproduce in Safari, Chrome, or Firefox either.

[2021-06-10 19:55] #1619 closed

[2021-06-11 00:47] ndushay commented on #1573
should it also say "version your collection *" ?   and should the item page one have the asterisk?

[2021-06-11 02:48] jcoyne commented on #1573
Yes, but that work is already done.

[2021-06-11 16:15] amyehodge opened #1637 "Dashboard should refresh to show "Deposit to this Collection" and "Reserve PURL" buttons when collection deposit is complete"
Currently, this is what happens:

1. Click on "Create a new collection" button on dashboard.
2. Enter info into form and deposit.
3. Return to dashboard and find collection.
4. Collection is done depositing and displays with pencil, but buttons are not present and should be.
5. Refreshing the page makes the buttons display.

https://images.zenhubusercontent.com/272543337/d5fcf2dd-65a3-4923-a525-9f

[2021-06-11 19:27] amyehodge commented on #1630
**Please do not migrate until we have confirmed that we have talked to the content managers about the timing of a temporary outage. We also intend to change permissions on these collections in advance of the migration to make sure they can't change anything while this is going on.**

Druids of the 8 collections to be migrated in the first batch:
cb946pf0135
tg242xv5347
gk894yk3598
nc574ck0385
pn80

[2021-06-11 19:32] amyehodge commented on #1630
Here’s the order of events from my perspective:

1. verify that the license work is complete
2. Amy and Justin will determine when to do the migration, as both need to be available (early in the morning would be good)
3. Amy will communicate that timing to the content owners
4. Amy will reset the collection permissions (save the participant lists elsewhere, remove everyone from collections and rep

[2021-06-11 21:43] amyehodge opened #1639 "Update text instructions for Author section"
Under the header "Authors to include in citation" remove the text that says "Reorder authors so they are in the correct order" and add this text:

When there are multiple authors, list them in the order they should appear in the citation. If you need to change the order of the authors, click the arrows to move individual authors up or down in the list.

[2021-06-12 15:39] #1639 closed

[2021-06-14 14:29] amyehodge opened #1643 "Change header on item deposit form from "Work type" to "Work subtype""
In this section the user is actually selecting the subtypes, not the type.

![Screen Shot 2021-06-14 at 10.28.33 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/3f754cf0-5c8e-42b5-8219-32f9ca9125bc)

[2021-06-14 15:23] amyehodge opened #1644 "For a reserved PURL, the work subtypes modal should display an error message when the proper subtypes for Music, Mixed Materials, and Other are not selected"
If you try to edit a registered PURL, and you select either music, mixed materials, or other and do not select or fill in the required subtype information, it kicks you back to the dashboard. It should be displaying an error message to the user about what they need to fix.

For music without a subtype, the following HB error is also produced:

Error detected in: happy-heron (stage)

Full report at

[2021-06-14 15:25] jcoyne commented on #1644
Is this the same as #1618 ?

[2021-06-14 15:25] #1587 closed

[2021-06-14 15:28] amyehodge commented on #1644
Sorry, this has already been filed in #1618

[2021-06-14 15:28] #1644 closed

[2021-06-14 17:33] jcoyne opened #1645 "Upgrade turbo-rails to 0.5.11"
there are many broken tests when upgrading, presumably because it switches to a new version of turbo.

[2021-06-14 17:51] #1573 closed

[2021-06-14 17:58] #1632 closed

[2021-06-14 18:11] honeybadger[bot] opened #1647 "[happy-heron/stage] RuntimeError: There was an error with your request: {"errors":[{"status":"400","title":"Cocina-models version mismatch","detail":"The API accepts cocina-models version 0.59.1 but you provided 0.60.0. Run \"bundle update\" and then retry your request."}]}"
## Backtrace

    line 34 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: create_or_update
    line 27 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 10 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79936870)

[2021-06-14 18:13] honeybadger[bot] opened #1648 "[happy-heron/qa] ActiveRecord::RecordInvalid: Validation failed: Subtype is not a valid subtype for work type music"
## Backtrace

    line 161 of [PROJECT_ROOT]/app/models/work_version.rb: block in choose_type_for_purl_reservation
    line 160 of [PROJECT_ROOT]/app/models/work_version.rb: choose_type_for_purl_reservation
    line 53 of [PROJECT_ROOT]/app/controllers/works_controller.rb: update_type

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79936907)

[2021-06-14 18:24] jcoyne commented on #1647
This is the expected behavior during deploys of sdr-client. They went through after sidekiq retried them.

[2021-06-14 18:24] #1647 closed

[2021-06-14 19:02] justinlittman commented on #914
I think this can be made to work using "open":
[code]

[2021-06-14 19:24] #1516 closed

[2021-06-14 19:55] ndushay opened #1650 "Proxy: preservation_client - add method to call "validate_moab" endpoint"
see https://github.com/sul-dlss/preservation-client/issues/46

[2021-06-14 19:57] ndushay opened #1651 "Proxy: add code for a new preservation robot: validate_moab"
See https://github.com/sul-dlss/preservation_robots/issues/315 -- blocked until https://github.com/sul-dlss/preservation_robots/pull/321 is merged and deployed (to qa or stage would be enough to get going)

[2021-06-14 20:19] ndushay opened #1652 "Proxy: update preservationIngestWF"
See sul-dlss/workflow-server-rails#463

[2021-06-14 20:20] ndushay commented on #1652
See https://github.com/sul-dlss/workflow-server-rails/issues/463

[2021-06-14 21:30] ndushay commented on #1650
closed by

[2021-06-14 21:30] #1650 closed

[2021-06-14 21:58] justinlittman commented on #914
Unfortunately, an open start date doesn't work:
[code]

Plan B is to add client validation requiring at least a start and end year before a draft can be saved.

[2021-06-14 21:59] amyehodge commented on #914
@justinlittman That works for me.

[2021-06-14 22:17] #1387 closed

[2021-06-15 14:37] #1504 closed

[2021-06-15 14:38] #1643 closed

[2021-06-15 17:07] jcoyne commented on #264
@ndushay at some point the requirements for the front end, might become so divergent from what OCLC offers that it makes sense for us to build our own backend for the search.

[2021-06-15 17:10] ndushay commented on #264
@jcoyne understood.  Let's call this "phase 1" and see what happens when I make the requested changes.

[2021-06-15 17:35] ndushay commented on #264
if we did do our own backend we might want to use it for ETDs and possibly some other apps as well.

[2021-06-15 17:50] #1651 closed

[2021-06-15 17:50] ndushay commented on #1651
closed by  sul-dlss/preservation_robots#321

[2021-06-15 21:24] jcoyne commented on #1645
https://github.com/hotwired/turbo-rails/issues/185

[2021-06-15 21:49] honeybadger[bot] opened #1657 "[happy-heron/qa] NoMethodError: undefined method `work_versions_path' for #<Works::ButtonsComponent:0x...> Did you mean? work_version_path work_version_url"
## Backtrace

    line 12 of [PROJECT_ROOT]/app/components/works/buttons_component.html.erb: call
    line 35 of [PROJECT_ROOT]/app/components/works/form_component.html.erb: block in call
    line 2 of [PROJECT_ROOT]/app/components/works/form_component.html.erb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79958193)

[2021-06-17 00:08] honeybadger[bot] opened #1660 "[happy-heron/stage] ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR: null value in column "work_version_id" violates not-null constraint DETAIL: Failing row contains (230035, null, Hannah, Frost, 2021-06-17 00:06:34.407169, 2021-06-17 00:06:34.407169, person, Author, null, Author, 1)."
## Backtrace

    line 29 of [PROJECT_ROOT]/app/controllers/works_controller.rb: create

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/79978444)

[2021-06-17 11:22] #1618 closed

[2021-06-17 23:03] #791 closed

[2021-06-17 23:12] aaron-collier commented on #1150
@amyehodge is this still a valid issue? It looks like the work cited above is no longer valid.

[2021-06-17 23:35] amyehodge commented on #1150
@aaron-collier That was a migrated item that has since been wiped, I would guess. But, yes, last I checked it was still a valid problem. It was happening all over, not just this item. Hard to check for sure right now because of the outage.

[2021-06-18 11:45] justinlittman commented on #789
@amyehodge Is this done?
![image.png](https://images.zenhubusercontent.com/5d8270f64def500001d12f23/df1baf16-1602-40b3-91ef-3e47716d43b9)

[2021-06-18 12:55] jcoyne commented on #1055
The equivalent work for a work was done in #1101

[2021-06-18 13:13] #1637 closed

[2021-06-18 13:15] #1498 closed

[2021-06-18 14:47] amyehodge commented on #789
@justinlittman The screenshot looks correct, but I usually test in stage and I'm not seeing it there.

[2021-06-18 15:09] #1645 closed

[2021-06-18 15:19] jcoyne commented on #794
<img width="1189" alt="Screen Shot 2021-06-18 at 10 17 50 AM" src="https://user-images.githubusercontent.com/92044/122583053-737b7880-d01e-11eb-8717-f27fcdb8c22f.png">

@amyehodge I see a "discard draft" button on the "collection details" edit page after you save a draft of a new version. Is this ticket complete?

[2021-06-18 15:34] jcoyne commented on #1036
Now changing tack to retrieve this via https://accountws.stanford.edu (e.g. `curl https://accountws.stanford.edu/accounts/jcoyne85`) However, we need a cert signed first:
https://github.com/sul-dlss/operations-tasks/issues/2636

[2021-06-18 15:42] amyehodge commented on #794
This does seem to be working now.

[2021-06-18 15:42] #794 closed

[2021-06-18 15:42] amyehodge commented on #1055
This seems to be working now.

[2021-06-18 15:42] #1055 closed

[2021-06-18 15:49] amyehodge opened #1666 "Multi-line content from deposit form should display as multiple lines on the item view page."
When I enter this content for the abstract:
![Screen Shot 2021-06-18 at 11.46.53 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/cc72dbb5-0ffd-4ffe-82a9-4541732350cb)

...it displays as multiple lines on the PURL:
![Screen Shot 2021-06-18 at 11.46.41 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/ee378066-a355-4513-a5a8-1d0c93b221cc)

...but not on the

[2021-06-18 16:12] #1633 closed

[2021-06-18 16:37] #1666 closed

[2021-06-18 16:52] aaron-collier commented on #1150
I just edited an object: https://sul-h2-stage.stanford.edu/works/17962

and I see my information there.

![Screen Shot 2021-06-18 at 9.50.28 AM.png](https://images.zenhubusercontent.com/5cd34fcc78dbc64ff177a010/7b7f4757-0d1b-424a-a8ad-72762cba2581)

The order is odd and the content creator (suntzu) appears tagged in the "deposit completed" step... Hmmm

[2021-06-18 17:00] #789 closed

[2021-06-18 17:01] #1405 closed

[2021-06-18 17:23] honeybadger[bot] opened #1671 "[happy-heron/stage] TypeError: Parameter 'work_version': Expected type WorkVersion, got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210618145214/app/components/works/link_to_show_component.rb:16 Definition: /opt/app/h2/happy-heron/releases/20210618145214/app/presenters/work_title_presenter.rb:9"
## Backtrace

    line 16 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: title
    line 12 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: link
    line 1 of [PROJECT_ROOT]/app/components/works/link_to_show_component.html.erb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80007352)

[2021-06-18 18:12] amyehodge opened #1674 "Remove "data" from the header of the release & visibility info on the item view page"
Currently looks like this:
![Screen Shot 2021-06-18 at 2.11.22 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/1488ef06-3732-4d82-95f8-2aa32013cfea)

Please remove the word "data".

[2021-06-18 18:33] amyehodge opened #1675 "Sorting of collection deposits table by modified date not working correctly"
When I try to sort the collection details table for https://sul-h2-stage.stanford.edu/collections/1103/works by modified date I get these two displays, presumably one for most recent to oldest and one for oldest to most recent. But neither of them look right.
![Screen Shot 2021-06-18 at 2.33.02 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/6397e93c-32e8-4277-b7c4-05b112ba97

[2021-06-18 20:16] amyehodge opened #1678 "History table should only indicate a field has been modified when it actually has been modified."
I versioned https://sul-h2-stage.stanford.edu/works/17866, an item migrated from hydrus and deposited originally by thalassa that had no history information. I added a version note and was required to update the license in order to redeposit.

History now shows:
![Screen Shot 2021-06-18 at 4.07.59 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/719a6304-b0d1-4d40-a522-09f0378

[2021-06-18 20:36] amyehodge commented on #97
We might consider instead alerting users when they enter more text than is allowed, particularly when copying and pasting. I can envision someone pasting a very long abstract in and it saves only the max characters and the depositor never notices it was cut off.

[2021-06-18 20:53] amyehodge opened #1679 "Editing a reserved PURL should bring up the work types modal"
Try any of the reserved purls at https://sul-h2-stage.stanford.edu/collections/1084/works.

When I click on the pencil I'm taken to the deposit form and skipping the work types modal altogether.

[2021-06-18 21:24] aaron-collier commented on #1675
@amyehodge I'm pretty sure this is because DataTable is default sorting by string. In order to date sort, especially in the format we're displaying, will require a plugin. From what I can tell, the currently available plugins require jQuery, which we've tried to avoid including.

The easiest option would be to format the data in an easily sortable way (i..e YYYY-MM-DD for example).

cc: @jcoyne in

[2021-06-18 21:30] jcoyne commented on #1678
I think this happens when you do a new version, because the new version defaults to everything being blank.  So it sees that everything is changed.

[2021-06-18 22:07] jcoyne opened #1682 "Load the help form lazily"
Similar to how the terms of deposit form is loaded.

[2021-06-18 22:07] honeybadger[bot] opened #1683 "[happy-heron/stage] TypeError: Parameter 'work_version': Expected type WorkVersion, got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210618173522/app/components/works/link_to_show_component.rb:16 Definition: /opt/app/h2/happy-heron/releases/20210618173522/app/presenters/work_title_presenter.rb:9"
## Backtrace

    line 16 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: title
    line 12 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: link
    line 1 of [PROJECT_ROOT]/app/components/works/link_to_show_component.html.erb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80011022)

[2021-06-18 22:31] hannahfrost opened #1684 "Error when I click on "Deposits" at the top of my collection page"
I have deposited an item in my collection.

https://sul-h2-stage.stanford.edu/collections/1134

When I try to navigate to the list of Deposits in this collection, I get the message, "We're sorry but something went wrong"

[2021-06-19 04:30] #1674 closed

[2021-06-19 14:53] jcoyne commented on #1675
@aaron-collier our requirements here are going beyond off the shelf libraries, let's just build our own.

[2021-06-21 11:08] #1032 closed

[2021-06-21 13:06] amyehodge commented on #1684
related to #1671?

[2021-06-21 14:10] amyehodge commented on #1630
@amyehodge Collection participant info for the first 8 collections -- for restoring after the migration is complete -- is in https://docs.google.com/spreadsheets/d/1DDFg3v3nRQ88bXYiEFzl-5IfKlKdpa2IKmxxuRq4UwU/edit#gid=482510041

[2021-06-21 15:04] amyehodge commented on #1034
@justinlittman and @jcoyne I'm just now seeing that this ticket appears to overlap with #427.

[2021-06-21 15:10] jcoyne commented on #1630
@amyehodge regarding the individual items not to migrate, those 5 are already encoded in the export script in hydrus.  I've updated the type mappings in the h2 import script.

[2021-06-21 15:11] jcoyne commented on #1684
yes, this is the same as #1671

[2021-06-21 15:11] #1684 closed

[2021-06-21 15:15] amyehodge commented on #1348
@jcoyne What's the status of this ticket? Can we get this finished before the release on Wednesday?

[2021-06-21 15:19] amyehodge commented on #1679
This appears to now be working for newly reserved PURLs in this same collection, but still not for the original set, named. "1" through "9".

[2021-06-21 15:22] jcoyne commented on #1671
[code]

[2021-06-21 15:31] jcoyne commented on #1671
It looks like https://app.honeybadger.io/projects/77112/faults/79978444 is the original cause of this bad data.

[2021-06-21 15:53] aaron-collier commented on #1675
@jcoyne I'll kick this back to ready then, With STLP this week I don't want to hold this up from anyone else.

[2021-06-21 15:54] aaron-collier commented on #1150
@amyehodge Can you verify after your recent testing that lead to the ticket about logging too many changes that your user was appropriately tagged. I think this is closable (as written) but want to make sure. Thanks.

[2021-06-21 16:21] #1453 closed

[2021-06-21 16:24] jcoyne commented on #97
The limits on these fields are about 1GB each.  It seems a bit absurd to check for that.

[2021-06-21 16:39] amyehodge commented on #97
In that case, I agree we shouldn't worry about it.

[2021-06-21 16:39] #97 closed

[2021-06-21 16:55] amyehodge commented on #1679
@jcoyne Is there some reason that the original set I noted as not working correctly should not be working, even if others are? In other words, is there still a bug in here somewhere that needs to be addressed?

[2021-06-21 16:58] amyehodge commented on #1150
Yes, the user was properly tagged. Agreed that this ticket is closable.

[2021-06-21 16:59] jcoyne commented on #1679
@amyehodge I don't know. I haven't been very involved in this work. I believe @jmartin-sul and @justinlittman know the most about this.

[2021-06-21 18:31] amyehodge opened #1689 "Asterisks to indicate required fields for release & visibility and license settings should not appear when there are no choices to make."
Currently when the release setting is set to defined settings for release and for visibility, i.e. when both of these are set to options that are NOT depositor selects, the header has an asterisk after it but it shouldn't, since there are no choices for the user to make.

![Screen Shot 2021-06-21 at 2.27.59 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/a3092c02-8fe5-4566-b7

[2021-06-21 18:34] #436 closed

[2021-06-21 19:15] #264 closed

[2021-06-21 20:40] jcoyne opened #1690 "Merge PurlCheckLinkComponent and EditLinkComponent"

[2021-06-21 20:52] justinlittman commented on #423
Fixed by https://github.com/sul-dlss/happy-heron/pull/1677

[2021-06-21 20:52] #423 closed

[2021-06-21 20:59] justinlittman commented on #1034
@amyehodge @astridu I've spend several hours working on implementing this, but encountered some difficulties. This is similar to a [Bootstrap popover](https://getbootstrap.com/docs/5.0/components/popovers/#overview) but the Bootstrap popover is primarily intended to include text content, not HTML. While I can get it to render HTML, it doesn't render some components (e.g., buttons) and handle dynam

[2021-06-21 21:04] amyehodge commented on #1034
@justinlittman Thanks for delving into this. The Cite link in the tables actually already has a copy link for the full citation. I'm wondering if we could put a copy link for the PURL alone in there? Or maybe we don't need that. The easy access to the social media was the point here.

@hannahfrost Do you have any thoughts/opinions on this? Maybe in the end this would be better as a feature on the

[2021-06-21 22:12] justinlittman commented on #1034
A copy link to the PURL alone would be easy (but also happy to go with nothing).

[2021-06-22 11:10] #1679 closed

[2021-06-22 11:14] #1660 closed

[2021-06-22 11:14] #1683 closed

[2021-06-22 11:14] #1671 closed

[2021-06-22 14:25] amyehodge commented on #1352
@jcoyne @jermnelson  I just tested this and it still seems to be behaving as I described above. Here's what I did:
- Yesterday I created https://sul-h2-stage.stanford.edu/works/18052 and set it for embargo release today.
- Today I checked that embargo was lifted. It was -- I can download files from PURL and the embargo release is noted in the history.
- I then attempted to version the item. I open

[2021-06-22 14:38] #1675 closed

[2021-06-22 14:45] #1682 closed

[2021-06-22 14:45] jcoyne commented on #1682
Fixed by #1688

[2021-06-22 14:53] #1657 closed

[2021-06-22 14:54] #1648 closed

[2021-06-22 15:03] amyehodge commented on #436
@jcoyne Do these only appear after a user has logged into H2? I'm seeing names for people like me and Hannah, but not for people who haven't been in H2, like this one:
![Screen Shot 2021-06-22 at 11 03 12 AM](https://user-images.githubusercontent.com/5558511/122949256-81483b00-d349-11eb-9ccf-1f53b68a26d6.png)

Just confirming so I know when people ask.

[2021-06-22 15:34] #1348 closed

[2021-06-22 16:01] amyehodge opened #1694 "New versions should not record everything as being changed"
I edited https://sul-h2-stage.stanford.edu/works/17380 to add a link and the history table indicates I edited much more than that:

![Screen Shot 2021-06-22 at 11.59.31 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/738e172e-0c1f-4453-83b2-b108b4b08389)

This should only show that the related links were changed.

See also #1695.

[2021-06-22 16:02] amyehodge opened #1695 "When no changes are made, the history should not list changes"
I versioned https://sul-h2-stage.stanford.edu/works/18053 but did not touch any field except the what's changing element, but the history shows I made a lot of changes:

![Screen Shot 2021-06-22 at 12.01.11 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/40c357f7-72c3-4a3a-8f38-9a0036eafbc4)

See also #1694.

[2021-06-22 17:17] justinlittman opened #1697 "Cocina should not include blank URIs"
For example:
[code]

See https://app.honeybadger.io/projects/50568/faults/79355918

[2021-06-22 17:26] #787 closed

[2021-06-22 18:03] #1697 closed

[2021-06-22 18:04] #1695 closed

[2021-06-22 18:54] #914 closed

[2021-06-22 20:20] justinlittman commented on #1352
@amyehodge This should probably be re-tested after https://github.com/sul-dlss/happy-heron/pull/1656 is deployed. I'm not suggesting it will fix the problem, but I suspect it will affect it.

[2021-06-22 21:32] amyehodge commented on #1034
@justinlittman I talked to @astridu about this. Let's just put the copy icon next to the PURL instead of the share button and have that copy the PURL link.

[2021-06-22 21:48] amyehodge commented on #1678
This ticket is covered by #1694.

[2021-06-22 21:48] #1678 closed

[2021-06-22 21:59] honeybadger[bot] opened #1700 "[happy-heron/stage] NoMethodError: undefined method `[]=' for nil:NilClass"
## Backtrace

    line 19 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: block in filter_attached_files
    line 17 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: filter_attached_files
    line 7 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faul

[2021-06-22 22:13] jcoyne commented on #1352
I agree with @justinlittman here. We've had significant change and I'm not sure that the bug you hit has anything to do with the embargo.

[2021-06-23 13:06] amyehodge commented on #1352
@justinlittman and @jcoyne Sounds good. Let me know when #1656 has been deployed and I'll test this again.

[2021-06-23 13:18] amyehodge commented on #973
@justinlittman This is working properly now. This ticket is ready to be closed.

[2021-06-23 13:26] amyehodge opened #1702 "Hide reviewers field on full collection edit and collection settings forms when review workflow is off"
This box currently looks like this:
![Screen Shot 2021-06-23 at 9.23.55 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/0af72085-f45b-4c7b-b5d4-51f3bf195e4a)

If the review workflow is off and the collection manager enters a SUNet in the box, it is not saved and there is no warning to the user that it isn't being saved. Entries should only be needed here if the workflow is on

[2021-06-23 13:38] amyehodge commented on #427
@jcoyne Considering problems outlined in 1034, let's change this to the copy icon as well. I've updated the title.

[2021-06-23 13:41] amyehodge commented on #1228
I've come up with what I think is a better solution for this issue and am going to close this and file a new ticket. #1703

[2021-06-23 13:42] amyehodge opened #1703 "Reserved PURLs should show up in the Deposits in Progress section at the top of the dashboard."

[2021-06-23 13:43] #1228 closed

[2021-06-23 14:20] #1034 closed

[2021-06-23 14:47] jcoyne commented on #1352
I think what may actually be going on here has to do with the remote validations and redrawing the page.  After an embargo is lifted and you try to save, the embargo will trigger an error because it is in the past, when this happens, the form is redrawn (422 response).  But I don't think it's then possible to make the form valid, which causes the HB error when you correct the embargo date.

[2021-06-23 14:51] honeybadger[bot] opened #1704 "[happy-heron/prod] TypeError: no implicit conversion of nil into String"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80080414)

[2021-06-23 15:12] amyehodge commented on #427
That's the page with the info about the item. I think you all also call it the show page? This one:

![Screen Shot 2021-06-23 at 11 12 39 AM](https://user-images.githubusercontent.com/5558511/123122362-f08a6180-d413-11eb-932a-b0be60cecb4e.png)

[2021-06-23 15:41] justinlittman opened #1705 "OK Computer check for RabbitMQ"

[2021-06-23 15:47] jcoyne commented on #1704
This was from when I sent a bad parameter to the migration. Ignore

[2021-06-23 15:47] #1704 closed

[2021-06-23 18:44] amyehodge commented on #1501
@jcoyne I talked with @hannahfrost earlier today about our communications plan, and we would like some additional information in this report. This additional information will help us target different communications to different groups of users.

We would like a .csv file that contains every user with the collection they are associated with and their role in that collection. There will be multiple

[2021-06-23 18:44] justinlittman commented on #427
@amyehodge I think this is done. I've deployed main to stage. Can you verify?

[2021-06-23 18:51] amyehodge commented on #427
Looks good.

[2021-06-23 18:52] #427 closed

[2021-06-23 20:29] amyehodge opened #1708 "Mouseover of previously saved file names should be readable."
I tested this on https://sul-h2-stage.stanford.edu/works/17786/edit.

When I mouseover a previously saved file name, it doesn't have the white background, so it is hard to read.

Mouseover of newly uploaded files DOES have the white background and are easily readable.

![Screen Shot 2021-06-23 at 4.24.35 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/3a3d0cca-632d-4005-8d77-

[2021-06-24 12:09] justinlittman opened #1710 "Cocina::RoundtripValidationError on update"
## Backtrace

    line 167 of [PROJECT_ROOT]/app/services/cocina/object_updater.rb: validate
    line 31 of [PROJECT_ROOT]/app/services/cocina/object_updater.rb: run
    line 16 of [PROJECT_ROOT]/app/services/cocina/object_updater.rb: run

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/50568/faults/80087673)

[2021-06-24 13:44] amyehodge opened #1712 "Link item title to item view page when interstitial pages are displayed"
When I'm on this page, or the similar one for the review workflow, make the item title link to the item view page.
![Screen Shot 2021-06-24 at 9.42.57 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/76c627b4-0550-4f7c-ade1-c8e5f45d8057)

[2021-06-24 14:03] #1551 closed

[2021-06-24 14:04] amyehodge commented on #1689
Hold off on this one. I'm planning to file another ticket shortly that will have other changes in this section and likely make this ticket moot.

[2021-06-24 14:30] #1702 closed

[2021-06-24 14:42] #1710 closed, assigned to justinlittman

[2021-06-24 15:02] justinlittman commented on #1501
Here is the revised incantation:
[code]

[2021-06-24 15:08] jcoyne commented on #1501
@amyehodge  do you want this report now or are we still waiting until you are ready?

[2021-06-24 15:33] #1705 closed

[2021-06-24 15:37] justinlittman commented on #1501
Report generated and sent to @amyehodge. Amy -- you can decide whether to close this ticket or leave open.

[2021-06-24 15:56] #1708 closed

[2021-06-24 16:21] amyehodge commented on #1501
@justinlittman Thanks. I've sent this to Hannah to see if it has what she needs. I'll let you know if we need to have it rerun. I'll leave this open for now.

[2021-06-24 17:11] hannahfrost commented on #1501
I believe this is perfect @amyehodge @justinlittman @jcoyne . Thanks a bunch!

[2021-06-24 17:11] #1501 closed

[2021-06-24 20:33] jcoyne opened #1715 "Keyword autosuggest dropdown should go over the page"
Currently it pushes all the other stuff down rather than being "above".

![Screen Shot 2021-06-24 at 3.32.20 PM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/99843bf5-8124-4f50-b0ec-9d00d8c25118)

[2021-06-24 20:44] #973 closed

[2021-06-24 21:39] jcoyne opened #1717 "Email messages are not linking to images correctly"

[2021-06-25 15:49] jcoyne commented on #1546
Fixed by #1691

[2021-06-25 15:49] #1546 closed

[2021-06-25 15:55] #1496 closed

[2021-06-25 15:56] #1472 closed

[2021-06-25 15:56] #1449 closed

[2021-06-25 16:00] #1278 closed

[2021-06-25 16:01] #1266 closed

[2021-06-25 16:01] #1243 closed

[2021-06-25 16:02] #1188 closed

[2021-06-25 16:02] #1000 closed

[2021-06-25 16:03] #1205 closed

[2021-06-25 16:04] jcoyne commented on #54
@astridu is this something you could work on now?

[2021-06-25 16:07] #185 closed

[2021-06-25 16:08] jcoyne commented on #185
@amyehodge @andrewjbtw can we close this ticket?

[2021-06-25 16:09] #1 closed

[2021-06-25 16:10] jcoyne opened #1718 "Final Migration"
See #1630 for initial migration. (Old set of directions: https://github.com/sul-dlss/happy-heron/issues/1226)

Migrate the rest of the collections from  https://docs.google.com/spreadsheets/d/1hNxM5hobMzrptxLctWfzDGSrl0ueBg5xGtQ47wFKC2g/edit#gid=1972276175 EXCLUDING the initial 8, because we don't want any changes that were made via h2 to be overwritten with the old hydrus data.

Druids of the 8 c

[2021-06-25 16:11] #1585 closed

[2021-06-25 16:15] jcoyne opened #1719 "Making no changes to an item in a collection that requires embargo"
When saving a draft for an item where no changes were made it records that the embargo was updated:

![Screen Shot 2021-06-25 at 11.13.31 AM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/552e1b31-6f07-4893-998b-82b606548eda)

This only seems to occur in collections set to "depositor selects release date"

[2021-06-25 17:14] amyehodge commented on #185
Fine with me. We will, of course, still need to migrate the rest of the content, but we don't need to figure out how to do it.

[2021-06-25 17:24] jcoyne commented on #185
Sorry, that message was supposed to be on another ticket.... something odd happened with zenhub.

[2021-06-25 17:25] jcoyne commented on #184
@amyehodge @andrewjbtw can we close this ticket?

[2021-06-25 17:27] amyehodge commented on #184
I'm leaving that to @andrewjbtw

[2021-06-25 17:59] andrewjbtw commented on #184
We answered this question with "no".

[2021-06-25 17:59] #184 closed

[2021-06-25 19:01] astridu commented on #54
Yes, let me get in touch w/SODA to get our account configured. May take a day.

[2021-06-28 14:59] #1352 closed

[2021-06-28 14:59] #1700 closed

[2021-06-28 15:54] #1630 closed

[2021-06-29 14:31] amyehodge opened #1721 "Update text of notification of items needing review to include title and direct link to item"
Current text of these notification, which go to Reviewers and Managers, says:

Please update the first paragraph of this message to say:

[2021-06-29 14:32] amyehodge opened #1722 "Make the Deposits in Progress section on the dashboard collapsible"
Similar to the "Your Collections" and "All Collections" sections. Default state should be not collapsed.

[2021-06-29 14:34] amyehodge opened #1723 "Allow users to manage which notifications they receive."
Placeholder for a user request. Not a top priority at the moment.

[2021-06-29 15:00] amyehodge opened #1724 "Update layout for release and visibility section of item deposit form"
Goal is to make this section more readable and to make it clear that there are multiple settings the user may need to consider here.

In general this will:
1.  split this into separate sections -- 2 now, and 3 once DOI is added
2. each section will have its own clear header
3. asterisks for whether a section is provided will be displayed next to the header ONLY when the user can actually make a ch

[2021-06-29 15:02] amyehodge commented on #1724
Currently waiting for final changes to the mockups to be completed.

[2021-06-29 18:36] hannahfrost opened #1725 "add user hahn1 as collection manager on selection of Hydrus collections"
To review collections of university archives content deposited via Hydrus, and specifically to review item drafts in process or open versions, Hanna Ahn needs to be able to access collections for which she does not have user permissions.

The attached TXT is a list of druids for those collections.

Please add her SUNet ID, hahn1, as a collection manager on each of these collections so that she can

[2021-06-29 18:38] amyehodge commented on #1352
I have just created https://sul-h2-stage.stanford.edu/works/18075 and set an embargo to release tomorrow, June 30. I'll check back in on it tomorrow and complete the testing.

[2021-06-29 19:09] amyehodge commented on #1718
@jcoyne, @hannahfrost and I discussed earlier today that we'd like to turn off access to Hydrus on the afternoon of Friday, July 30, and then plan for the migration first thing on Monday morning, August 2.

We'd like to see something similar to the maintenance page used last summer put up for people during the outage, though we would want to alter that text.

Also, we need to make sure that Univer

[2021-06-29 19:22] #1689 closed

[2021-06-29 19:23] amyehodge commented on #1689
#1724 reworks this section entirely and addresses this issue.

[2021-06-29 19:28] amyehodge opened #1726 "DOI: Add DOI assignment options to collection deposit form and to the collection details form."
Add options in the Release and Visibility section for DOI assignment for the collection. This PR should be made against the DOI feature branch https://github.com/sul-dlss/happy-heron/pull/1776.

Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.r3t7es1ylg4i

Mockups: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/453759485_DOI -

[2021-06-29 19:29] amyehodge opened #1727 "DOI: Update collection settings view page to show DOI assignment setting"
This allows the user to see the DOI setting selected. This PR should be made against the DOI feature branch https://github.com/sul-dlss/happy-heron/pull/1776.

Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.lr01ej7okb5u

Mockups: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/453759485_DOI -- in particular mockup II.

[2021-06-29 19:30] amyehodge commented on #1726
@jcoyne would you like this to be two separate pages -- one for the complete version of the form the user sees when creating a new collection, and one for the just the details page they see when they are versioning?

[2021-06-29 19:36] amyehodge opened #1728 "DOI: Update item deposit form with new DOI assignment section"
This will allow the user to either make a selection with regard to DOI minting or see what the collection manager has chosen -- to assign a DOI or not.

Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.9z9lyuj5vyhc

Mockups: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.lr01ej7okb5u -- in par

[2021-06-29 19:39] amyehodge opened #1729 "DOI: Update Item view page to list DOI when assigned and setting at all times"
This will allow the user to see the DOI when one has been assigned and to see what the setting is for the item under all conditions. This PR should be made against the DOI feature branch https://github.com/sul-dlss/happy-heron/pull/1776.

Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.8gkxx9vaxlwq

Mockups: https://projects.invisionapp.co

[2021-06-29 19:45] amyehodge opened #1730 "DOI: Update PURL reservation modal to include DOI assignment option"
This allows a user to elect to get a DOI when reserving a PURL and provides support for a common DOI use case.

Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.noolpeos8mls

Mockups: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/453759485_DOI -- see two examples under mockup V.

[2021-06-29 19:50] amyehodge opened #1731 "DOI: connect with DataCite API to allow for minting of DOI when item is deposited or PURL is reserved"
Design Doc: https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit#heading=h.qx3okipoxiy5

- DOIs will be minted at the following times, depending on collection-level settings and Depositor selections (see below):
- when the user clicks "Deposit" for the standard workflow or
- when the user clicks "Submit" on the "Reserve a PURL" modal.
- All minted DOIs should use th

[2021-06-29 19:51] amyehodge opened #1732 "DOI: send updated metadata to DataCite when an object with a DOI is versioned"

[2021-06-29 20:01] amyehodge opened #1733 "ORCID: Enable ORCID API to resolve ORCIDs to names for collecting names in item deposit form"
@jcoyne indicated this is the incantation to resolve ORCIDs to names:

`curl https://orcid.org/0000-0002-5902-3077/person.json`

Documentation: https://docs.google.com/document/d/1LXsN7yfzZCnBwHkI_L

[2021-06-29 20:04] amyehodge opened #1734 "ORCID: update deposit edit form to allow users to enter ORCIDs for individual authors and contributors"
Update the Release and Visibility section of the form to allow entry of ORCID and retrieval of a name OR manual entry of names without ORCIDs.

Mockups: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/455996975_orcid

There are 3 changes to what is shown in the mockups:
1. Text next to the checkbox should read "ORCID iD (name will automatically be filled in)” and NOT "Use ORCID iD to e

[2021-06-29 20:06] amyehodge opened #1735 "ORCID: Update item view page to accommodate display of ORCID information"
Documentation and mockups: https://docs.google.com/document/d/1LXsN7yfzZCnBwHkI_L7sOni5mkecJ3t1fiyR_5BT4lQ/edit#

Once this information is entered, it will also be displayed on the item view page next to the individual's name. There is a standard from ORCID regarding how ORCIDs should be displayed; see https://support.orcid.org/hc/en-us/articles/360006897674-Structure-of-the-ORCID-Identifier.

The

[2021-06-29 20:13] amyehodge opened #1736 "Rework keyword search to provide better matching and context for terms."
Improve this so that terms like "tea" return relevant matches.

Provide some sort of context for users so they can better understand terms that might have many meanings, like "fabric." Possibly definitions or locations in the hierarchy, if one of those is available from FAST.

@jcoyne This ticket needs a lot more detail, I'm sure.

[2021-06-29 20:17] amyehodge opened #1737 "Prevent editing of terms entered from FAST vocabulary"
These terms should be deletable, but not editable, to prevent the situation where someone edits a FAST term to something entirely different but we have the ID# from a FAST term stored with completely unrelated text.

This will require addressing the fact that we currently don't allow deletion of the first term in order to prevent the situation where all terms and their entry boxes are deleted so t

[2021-06-29 20:20] amyehodge opened #1738 "Add option for collection managers to enter keywords at the collection level that will be applied to all entries for a collection."
This will require
- an addition to the collection form for entering these keywords. This should function like the one on the deposit form, with FAST lookup and free text entry
- a display on the collection view page of keywords entered
- a display on the item deposit page of keywords to be entered that are not changeable
- change to the item view page showing these additional terms. these could be

[2021-06-29 20:37] amyehodge opened #1739 "Allow a depositor to assign a proxy"
- A depositor should have a setting where they can allow another user to be a proxy for them. That proxy would have all the same permissions that they have.
- There will be a link on the dashboard to account settings. This link will go to a new page
- The new account settings page will have the proxy option (and other things in the future)
- Here the user can add proxies using a similar SUNet look

[2021-06-30 14:20] amyehodge opened #1740 "Add H2 tag to all items and collections migrated to H2"
Be sure to retain any Hydrus tags as well.

[2021-06-30 14:56] amyehodge commented on #1738
Collection edit page mockup: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/454558426_keyword_In_Collection_Edit

Collection view page mockup: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/454558535_keyword_In_Collection_View

Item deposit page mockup:

Item view page mockup:

[2021-06-30 16:06] amyehodge commented on #1731
Consider the possibility that if we follow the scheme of always using the same prefix and always using the druid as the suffix, we can tell people what the DOI will be without any actual interaction with DataCite, and save all contact with DataCite until the deposit is complete. That would make this step much simpler.

[2021-06-30 16:14] amyehodge opened #1741 "When versioning an item, only display release options when the item has an embargo date that has not yet passed."
See previous ticket #1352

I have tested this again and it is still not working. Behavior is slightly different this time. Changes are in bold below.

Yesterday I created https://sul-h2-stage.stanford.edu/works/18075
 and set it for embargo release today.

- Today I checked that embargo was lifted. H2 had a history entry saying it was released, but **the PURL still has the embargo message and will

[2021-06-30 20:06] amyehodge opened #1742 "Restore search box on collection deposits page"
I'm pretty sure there used to be a search box on the right side above the table on the collection deposits page. Here's what I see at https://sul-h2-stage.stanford.edu/collections/1084/works:
![Screen Shot 2021-06-30 at 4.04.53 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/3659896f-cdec-494e-b1cc-bfb1f17ea8ba)

[2021-07-01 16:41] #1150 closed

[2021-07-01 17:15] amyehodge opened #1743 "User reports items showing multiple times in list temporarily"
Two instances reported by Kris Kasianovitz.
First one:
Item: https://new-sdr.stanford.edu/works/114
Happened June 30 at around 4:40 or 4:45 pm.

She said, "When I submitted a document for approval, it showed up like this on my dashboard -- they all disappeared once I approved it. I can't recall anything out of the ordinary - I had saved the draft a few times before approving and publishing. But ba

[2021-07-02 00:03] amyehodge opened #1744 "Two deposited items are in limbo in Argo"
Greta has identified an issue with two H2 deposits when she tries to do the usual cataloging on them in Argo post-deposit.

Both hg666vd0263 and gj834gp4151 are showing both the "Close version" and "Open for modification" options grayed out in Argo, so she can't do anything.

[2021-07-02 00:04] amyehodge commented on #1744
From Greta:
![Screen Shot 2021-07-01 at 8.04.31 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/ffe6b229-ef42-4fd5-a6ac-a5961f30b327)

![Screen Shot 2021-07-01 at 8.04.40 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/e2688591-b7ab-4599-8dd7-eedeb0e30296)

[2021-07-03 04:37] astridu commented on #54
Just got access to the extension and working through the issues now.

[2021-07-05 22:59] andrewjbtw commented on #1744
I think these are one-time issues related to still open Hydrus workflows left behind by the migration. Since these druids were migrated and detached from Hydrus, the Hydrus workflows were never marked as completed. This blocks versioning because versioning requires the hydrusAssemblyWF to be complete.

I've marked the Hydrus workflow as complete for both objects and the buttons are no longer graye

[2021-07-06 14:34] jcoyne commented on #1741
@amyehodge I'm not seeing "the PURL still has the embargo message and will not allow me to download the file."  looks good to me: https://sul-purl-stage.stanford.edu/ct114nf3383 In any case, the embargo release mechanism isn't part of h2, it's a function of dor-services-app and isn't something we've changed.

[2021-07-06 14:36] jcoyne commented on #1744
@amyehodge is there more for us to do on this ticket or should it be closed?

[2021-07-06 15:39] amyehodge commented on #1741
@jcoyne I see that I'm able now to download the file, but I'm sure I couldn't that morning. Perhaps it happens later in the day than I expect?

Regarding the second point about the date validation issue, the user should be able to version the item, and should not have to make further changes around the embargo options in the UI to do so. I think it could be confusing if the settings showed "immedi

[2021-07-06 15:43] amyehodge commented on #1744
@jcoyne Sounds like the work @andrewjbtw  noted to mark hydrusAssemblyWF as complete for the subset of migrated druids in Registered or Open states is something that needs to be done now. And we need to add this into the workflow for the full migration in a few weeks. Who will do those tasks, and do they need tickets?

The two items called out in this ticket have been taken care of.

[2021-07-06 15:44] jcoyne commented on #1741
We have a validation that says "embargo dates must be in the future", so I'm not sure how we balance that requirement with the requirement that we don't validate in this case.   Also consider the case where they want to make a new embargo.  We'd want to ensure that new embargo isn't in the past.

[2021-07-06 15:45] jcoyne commented on #1744
@amyehodge will we be able to just mark all of the hydrusAssemblyWF processes as complete at that time?

[2021-07-06 15:46] amyehodge commented on #1744
@jcoyne That's a question for @andrewjbtw.

[2021-07-06 15:51] amyehodge commented on #1741
I'm wondering if it makes sense to allow users to make changes to the release once it has happened? That is to say, if a user has chosen "immediately" or it is past the embargo date, the only thing they could do is to attempt to set a new embargo date in the future. However, if the content has already been released, then is there a point to that, and can the system actually do that? @astridu, what

[2021-07-06 16:03] andrewjbtw commented on #1744
That should be ok. Marking the steps complete won't run anything and since they'll never be in Hydrus again it should be safe.

[2021-07-06 16:10] justinlittman opened #1746 "[happy-heron/stage] NoMethodError: undefined method `[]=' for nil:NilClass"
## Backtrace

    line 19 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: block in filter_attached_files
    line 17 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: filter_attached_files
    line 7 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faul

[2021-07-06 16:33] #1746 closed, assigned to nobody

[2021-07-06 16:57] jcoyne commented on #1744
@amyehodge I updated #1718 to add that step, so I believe this can be closed.

[2021-07-06 17:00] #1744 closed

[2021-07-06 18:25] andrewjbtw opened #1747 "Add Public Domain Mark to H2 license options"
There is at least one staff-deposited collection (government documents) that uses the Public Domain Mark. This option cannot be selected in H2 or Hydrus, but I've learned that it is assigned within Argo via special APO settings.
(see the APO here: https://argo.stanford.edu/view/druid:yf511vz3216 )

Since H2 does not use special APOs for each collection, this has made the government documents workf

[2021-07-06 18:29] honeybadger[bot] opened #1748 "[happy-heron/prod] ActiveRecord::RecordNotSaved: Failed to replace authors because one or more of the new records could not be saved."
## Backtrace

    line 80 of [PROJECT_ROOT]/app/controllers/works_controller.rb: update

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80297460)

[2021-07-06 18:47] jcoyne commented on #1736
<img width="674" alt="Screen Shot 2021-07-06 at 1 46 07 PM" src="https://user-images.githubusercontent.com/92044/124651541-ac11b380-de60-11eb-8a10-e0d1e7299fa8.png">

<img width="473" alt="Screen Shot 2021-07-06 at 1 46 17 PM" src="https://user-images.githubusercontent.com/92044/124651548-addb7700-de60-11eb-9c73-ce04f008fd83.png">

[2021-07-06 19:55] astridu opened #1749 "Accessibility: alt tags needed for interactive font awesome icons"
Sample of recommended tag:
<a aria-label="Delete" class="btn btn-danger" href="path/to/settings">
  <i aria-hidden="true" class="fas fa-trash" title="Delete this item?"></i>
</a>

Titles:
Pencil: Edit item
Trash can: Delete item
Info icon: Help text

[2021-07-06 20:00] jcoyne commented on #1749
@astridu those icons have aria-label tags.  As they aren't images (they are span tags), it's not valid to give them alt tags.

[2021-07-06 20:00] astridu opened #1750 "Accessibility: Checkboxes need 'aria-labelled by' tag to indicate what content they are associated with"
Issue: If the input field has a visible description indicating the purpose of the field, this description should be explicitly associated to the input field either as a HTML label or using the WAI-ARIA attribute 'aria-labelledby'.

[2021-07-06 20:01] jcoyne commented on #1750
@astridu can you identify a particular checkbox that does not have a label tag? I believe all the checkboxes have labels.

[2021-07-06 20:03] astridu opened #1751 "Accessibility: Form elements need to be grouped and labeled"
When a form contains elements that are logically connected to each other it is necessary to group them.

The form contains check boxes and/or radio buttons that are not grouped and named, using a 'fieldset' with a descriptive 'legend' or the WAI-ARIA attribute role="group" (for check boxes) or role="radiogroup" (for radio buttons) with a descriptive 'aria-labelledby' or 'aria-label'.

On the depos

[2021-07-06 20:06] astridu opened #1752 "Accessibility: Underline all hyperlinks on hover"
Issue: Furthermore, color should not be the only visual cue. An additional visual cue could be underlining the link.

[2021-07-06 20:07] jcoyne commented on #1751
@astridu if we use a legend, what should the text be (for each) and where/how do you want it to look on the page.  If we use a `aria-label`, what should the text for each be?

[2021-07-06 20:15] jcoyne commented on #1752
@astridu how do we square this requirement with the identity guide / Decanter which does not underline links: https://decanter.stanford.edu/

[2021-07-06 20:16] astridu commented on #1749
Ok, I will close this ticket. Thanks!

[2021-07-06 20:16] #1749 closed

[2021-07-06 20:18] astridu commented on #1752
I'm not sure decanter is up to date. However, the underline requirement (we could also bold, but that seems more visually distracting) from SODA is mandatory to be AA compliant.

[2021-07-06 20:20] astridu commented on #1750
The SiteImprove accessibility checker is asking for the 'aria-labelledby' tag, but if our label tags do the same thing, then I can close this.

[2021-07-06 20:21] jcoyne commented on #1752
Even the stanford homepage doesn't use underlined links: https://www.stanford.edu/

[2021-07-06 20:23] jcoyne commented on #1750
Yes, label tags are the classical way of handling this. Of course there may be some that don't have a label, and we'd want to find those instances.

[2021-07-06 20:25] astridu commented on #1752
I think it's out of date, but I sent a message to the Accessibility Slack channel to verify.

[2021-07-06 20:26] astridu commented on #1750
Let me look.

[2021-07-06 20:31] astridu commented on #1750
Ok, it's not finding any that don't have a label.

[2021-07-06 20:31] #1750 closed

[2021-07-06 22:32] jcoyne commented on #1752
It sounds like this is true for links that are embedded within text, but probably isn't necessary where our tables make it clear these are links. (see https://usability.yale.edu/web-accessibility/articles/links#designing-links)

Perhaps just having the underline appear on mouseover is enough.

[2021-07-07 01:23] astridu commented on #1752
Given that we have the option to have the underline appear on hover and not all the time, I would prefer this approach.

[2021-07-07 01:27] astridu commented on #1751
Seems like the legend would be easier? For the date fields, could we label it "Year month day" and for the work subtype checkboxes, could we label the group "Work subtypes". TY!

[2021-07-07 11:25] justinlittman commented on #1725
PR for the rake task: https://github.com/sul-dlss/hydrus/pull/551

[2021-07-07 13:26] justinlittman commented on #1725
Here's the log
[add_to_collection_manager.log](https://github.com/sul-dlss/happy-heron/files/6777415/add_to_collection_manager.log)

@hannahfrost Can you verify that this is complete (and if so, close)?

[2021-07-07 15:33] jcoyne opened #1755 "Change keyword endpoint to use the OCLC "full term" index"
e.g. the index that populates this page: https://fast.oclc.org/searchfast/?&limit=keywords&facet=all&query=Teacher&sort=usage+desc&start=0. not the typeahead endpoint we were using.

[2021-07-07 15:36] jcoyne commented on #1751
@astridu can you add it to the mockups?  Also what style should the fieldset have. By default browsers put a solid border around fieldsets. I believe Bootstrap makes the line hidden. So, what is the visual design for this change going to look like?

[2021-07-07 16:53] astridu commented on #1751
I thought this was something done in the code. I didn't want any changes to the visual design. Is this possible? TY!

[2021-07-07 20:42] #1719 closed

[2021-07-07 20:50] amyehodge commented on #1393
@astridu Can you mockup what it would look like to put the Reserve a PURL button on this page? Thanks.

[2021-07-07 21:54] arcadiafalcone opened #1761 "Review metadata records generated by H2"
https://argo.stanford.edu/catalog?f%5Bproject_tag_ssim%5D%5B%5D=H2

[2021-07-07 22:23] arcadiafalcone commented on #1761
Item records are missing adminMetadata. Collection records still have old data.

[2021-07-07 22:23] #1761 closed

[2021-07-07 22:26] arcadiafalcone opened #1777 "Cocina adminMetadata not provided when depositing"
Spec is here: https://github.com/sul-dlss/dor-services-app/blob/main/spec/services/cocina/mapping/descriptive/h2/admin_metadata_h2_spec.rb

[2021-07-08 13:23] justinlittman commented on #1755
QA uses the SRW interface:

We could do the same:
[code]

However, this returns _a lot_ of XML.

As an alternative, QA using the OCLC FAST authority, e.g., https://lookup.ld4l.org/authorities/search/linked_data/oclc_fast?q=tea&maximumRecords=10

The sorting is problematic, however:

We could, however, resort the returned results as: left anchored match then alpha, rest alpha. For example:
1. Bosto

[2021-07-08 13:58] jcoyne commented on #1755
@amyehodge what do you think of the approaches that @justinlittman  has laid out?

[2021-07-08 14:13] amyehodge commented on #1755
@jcoyne @justinlittman That last sorted list looks really good to me.

[2021-07-08 14:34] jcoyne commented on #1751
It is in the code, but it's presentation code.  See https://www.sitepoint.com/fieldset-html-element/ for what this looks like.

[2021-07-08 14:46] amyehodge opened #1763 "Prevent submitting a draft with an incomplete range."
If I try to save an item with only a start date for the creation date field, it doesn't pass validation. The error message is displayed next to the form field, so we can remove the one that displays at the top of the page:

![Screen Shot 2021-07-08 at 10.44.52 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/2bc59634-014e-4a7c-9395-57c18c3c2d5d)

[2021-07-08 15:00] amyehodge opened #1764 "History should only list the sections that have changes made"
This is getting better (see #1695), but still isn't quite right.

I versioned https://sul-h2-stage.stanford.edu/works/17964 and only touched the "what's changing" field. After depositing again, the history shows that I changed several other fields as well:

![Screen Shot 2021-07-08 at 10.58.44 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/f539f628-d986-4c03-b622-04f197c329d

[2021-07-08 15:05] amyehodge commented on #1764
Here's another example: https://sul-h2-stage.stanford.edu/works/18064

Most of this is correct, but I did not change the file description

![Screen Shot 2021-07-08 at 11.04.55 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/54a7e212-cd0e-4ce7-813c-79f0acbbfa09)

[2021-07-08 15:15] justinlittman commented on #1755
I'll implement and then you can review more thoroughly @amyehodge.

[2021-07-08 15:40] jcoyne commented on #1764
@amyehodge can we change the title of this ticket to "File description shows as changed when it isn't changed"?

[2021-07-08 15:42] amyehodge commented on #1764
@jcoyne In the first example, none of the things listed were modified -- contact email, authors, keywords, or file description

[2021-07-08 15:47] jcoyne commented on #1764
@amyehodge this is a new version, so is this a duplicate of https://github.com/sul-dlss/happy-heron/issues/1694?

[2021-07-08 16:36] jcoyne commented on #1036
We now have a way of retrieving this information (see https://github.com/sul-dlss/happy-heron/pull/1766) do we have a design for what this should look like on the page?

[2021-07-08 17:03] amyehodge commented on #1036
@astridu Can you assist with this? I don't believe we mocked up anything for us yet. One option is that these appear in a pop-up window like the example I have above works.

[2021-07-08 18:06] amyehodge commented on #1764
@jcoyne The second example does look like a duplicate of what was reported for #1694, but the first one was a version as well, and the behavior is different, since some untouched fields were logged, but not all of them.

[2021-07-08 18:11] amyehodge commented on #1763
@jcoyne I don't understand your point above. It seemed that the validation of the creation date was working fine for me. Is it something else?

[2021-07-08 18:13] jcoyne commented on #1763
The point was more to the devs.  We don't want to remove this message so much as preventing you from getting into a situation where you would see it.  There should be a front end validation that should intercept before you get to this error.

[2021-07-08 18:16] jcoyne commented on #1764
#1695 was only for an update to an existing draft. #1694 was for the first update on a new version.  So, I don't think the test you set up met the scope of #1694.

[2021-07-08 18:19] amyehodge commented on #1764
Got it. I'll test that again. Thanks.

[2021-07-08 18:26] amyehodge commented on #1512
Another option would be to display these as one word per line so that no separators are necessary. This would make them much easier for the user to scan.

[2021-07-08 18:30] amyehodge commented on #1764
@jcoyne I retested and still see an issue. I think I'll close this messy ticket and create a new one.

[2021-07-08 18:30] #1764 closed

[2021-07-08 18:32] amyehodge opened #1768 "Do not record changes in the history when there aren't any for an update of an initial version"
I updated an existing draft of https://sul-h2-stage.stanford.edu/works/17806 but made no actual changes and just clicked on "save" and changes were recorded in the history when none should have been.

![Screen Shot 2021-07-08 at 2.29.55 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/ba14a483-596a-4334-827f-b9d89b38a601)

[2021-07-08 19:53] astridu commented on #1036
Proposed design
![image](https://user-images.githubusercontent.com/42216982/124982424-86fd7c00-dfeb-11eb-95c7-014a7caccb12.png)

[2021-07-08 19:57] astridu commented on #1393
![image](https://user-images.githubusercontent.com/42216982/124982752-eeb3c700-dfeb-11eb-9b97-6dfa2cced602.png)
![image](https://user-images.githubusercontent.com/42216982/124982783-f7a49880-dfeb-11eb-8b03-9852810c8ecd.png)
![image](https://user-images.githubusercontent.com/42216982/124982826-03905a80-dfec-11eb-9e12-d39ebaefcfe0.png)

[2021-07-08 19:58] astridu commented on #1393
If Edit or Deposit button doesn't appear, then it would look like this.
![image](https://user-images.githubusercontent.com/42216982/124982885-1c990b80-dfec-11eb-9038-f1727c91024a.png)

[2021-07-08 20:06] astridu commented on #1751
If we can use the hidden line, that would be ideal. I want to keep the layout as is. Thank you!

[2021-07-08 20:23] jcoyne commented on #1751
what about the legend, do you want that to show?

[2021-07-08 20:29] astridu commented on #1751
no

[2021-07-08 20:49] jcoyne commented on #1036
We aren't doing a search for a user in this case. We are just looking up the name of the user id (sunet) we typed in. So the design above isn't going to work.

[2021-07-08 20:51] jcoyne commented on #1751
Hmm, this might be a challenge, because we're adding a layout element, but trying to get it not to show up or to anyway influence the layout we've already done.

[2021-07-08 20:55] amyehodge commented on #1036
@jcoyne That's my mistake. This takes the request a step further and I didn't register that when @astridu passed this by me.

I think the actions will look like this:
1. user types in a complete SUNet ID (or what they think is)
2. user clicks a button that says "search" or something like that
3. if it's a valid SUNet ID, information related to that user is returned --  name, title, department -- s

[2021-07-08 21:13] jcoyne commented on #1036
Yes.

[2021-07-08 22:18] ndushay commented on #685
Does https://data-access-request.stanford.edu/dataowner_request need to be filled out?  If so, should it come from anyone in particular (e.g. Amy, Hannah, Justin?).  IF from me, I'm not sure which type of request this is nor attribute bundle.

I also posted a question in the #ops slack channel

[2021-07-08 22:28] ndushay commented on #685
Julian asks if `givenName` is acceptable, since that's a released attribute.   I personally wondered about `eduPersonPrincipalName`    @amyehodge @jcoyne

[2021-07-09 00:20] jcoyne commented on #685
What are the values in those properties @ndushay?

[2021-07-09 13:43] jcoyne commented on #1734
@astridu can you expand this design to show what happens when the user hits the search button?  What is the process if they realize they have the wrong orcid?  What if the orcid is not in the right format? How do you confirm this is the correct person?

[2021-07-09 14:33] #1520 closed

[2021-07-09 15:22] ndushay commented on #1703
@amyehodge Can you say more about what should be changed?

![image](https://user-images.githubusercontent.com/96775/125101112-b6b19000-e08e-11eb-9670-9c415045e18c.png)

[2021-07-09 15:37] amyehodge commented on #1703
After the user reserves a PURL, that item should show up in the Deposits in progress section. For example, I just reserved a PURL and called it "Friday's Reserved PURL test." I'd like to see it show up with the works in the screenshot above. It would look kinda like this:

`Creating another collection > Friday's Reserved PURL test [pencil icon]  [progress bar]   **_PURL reserved_**`

I'm not sure

[2021-07-09 16:19] ndushay commented on #685
Sent:

![image.png](https://images.zenhubusercontent.com/5d89272aae87b600015057e7/fd1fa005-0022-4c24-a8ae-b9ad0cfab936)

Received:

![image.png](https://images.zenhubusercontent.com/5d89272aae87b600015057e7/b29754a7-3686-407f-a33c-7e7c78a1d30b)

[2021-07-09 16:29] honeybadger[bot] opened #1772 "[happy-heron/qa] RuntimeError: There was an error with your request: {"errors":[{"status":"400","title":"Cocina-models version mismatch","detail":"The API accepts cocina-models version 0.60.0 but you provided 0.61.1. Run \"bundle update\" and then retry your request."}]}"
## Backtrace

    line 34 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: create_or_update
    line 27 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 10 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80344817)

[2021-07-09 17:04] jcoyne commented on #1743
@amyehodge can you ask Kris what browser and version as well as any plugins she is running?  Have you been able to duplicate this problem on a different computer?

[2021-07-09 17:10] #1752 closed

[2021-07-09 17:12] jcoyne commented on #1742
@amyehodge  I don't believe that was ever in the design, so we removed it.  I don't think it should be a problem to re-add it, but I also don't think it's a bug.

[2021-07-09 17:25] amyehodge commented on #1742
It wasn't in the design, but I thought super helpful. I'll take off the bug label.

[2021-07-09 17:30] #1772 closed

[2021-07-09 18:08] jcoyne commented on #1736
@amyehodge do you think the work @justinlittman did on #1765 will complete this?

[2021-07-09 18:18] jcoyne commented on #1728
If a user has already assigned a DOI to an item, what should you see on the editor?  Presumably we don't want to allow them to switch it back to "No", however, if they never assigned a DOI before, presumably we would want them to be able to add on at any time, right?

[2021-07-09 18:18] amyehodge commented on #1736
The remaining bit would be providing some context for the search terms as mentioned above -- definitions or locations within the hierarchy (assuming there is one). Is there anything like that available?

[2021-07-09 18:19] amyehodge commented on #1728
This information is in the design docs above.

**Completed Deposits (i.e. when versioning)**
When the DOI has already been minted (either because it is a new version or this was a reserved PURL):

- Header:  DOI assignment
- Smaller link text next to header: What is a DOI?
- Link URL: https://library.stanford.edu/data-services/doi-services
- Text: The DOI assigned to this work is [insert DOI].
- S

[2021-07-09 18:28] jcoyne commented on #1726
@amyehodge what should existing collections be set to?

[2021-07-09 19:10] amyehodge commented on #1743
@jcoyne From Kris:

Using Google Chrome
Version 91.0.4472.114 (Official Build) (x86_64)
Using Standard Security Protection Standard protection against websites, downloads, and extensions that are known to be dangerous.

![image.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/a2275cae-da78-4727-af3a-c2263f23c930)

[2021-07-09 19:11] amyehodge commented on #1743
@jcoyne Also, I have been unable to replicate this, but watched it happen for her a couple of times back when she originally reported it.

[2021-07-09 19:12] amyehodge commented on #1726
@jcoyne Does that include all the migrated collections and any H2-created collections made before this is implemented?

This is a good question. Let me think on this.

[2021-07-09 19:52] jcoyne commented on #1726
@amyehodge yes any existing collections.

[2021-07-09 19:59] justinlittman commented on #1777
Per @arcadiafalcone, only map the creation date (i.e., the date the work was created in H2), not the modification date.

[2021-07-09 20:10] jcoyne commented on #1743
I wonder if this is actually a back end problem for how we identify the list of items that need to be approved.

[2021-07-09 20:16] jcoyne commented on #1743
yeah that looks like the problem:
[code]

[2021-07-09 20:55] justinlittman commented on #1736
@amyehodge Can you take a look at http://fast.oclc.org/searchfast and see if there is additional context that you consider relevant?

[2021-07-09 20:57] #1777 closed

[2021-07-09 21:11] amyehodge commented on #1736
@jcoyne I'm not finding a field that is consistently providing useful information to display in the app to users. We could link to the records, but it seems unlikely that people would click on those. When I look up generic terms like "fabric" or "fracture" I'm actually seeing specific options that I would hope people would choose or at least would make them more aware that there are multiple kinds

[2021-07-09 21:51] astridu commented on #1734
1. When user hits the search, can we show a spinning icon to indicate we are retrieving data?
![image](https://user-images.githubusercontent.com/42216982/125139026-9ef4fe80-e0c4-11eb-9029-3eeec9abef5b.png)
2. If they have the wrong ORCID, they have to re-enter.
3. Give them an error. Can we have different error messages for different error states?
If error is user entered incorrect id, message is

[2021-07-09 21:56] amyehodge commented on #1734
RE: confirming it's the right person. Sometimes a user will be entering ORCIDs for other authors (sometimes many other authors), but typically they will get the ORCIDs from those people. Many people don't have anything public in their ORCID records, so getting the number from the person is the best way to know you have the right person. As long as the name returned matches what they are expecting,

[2021-07-09 22:35] honeybadger[bot] opened #1780 "[happy-heron/prod] SignalException: SIGHUP"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80350528)

[2021-07-12 11:10] #1736 closed

[2021-07-12 15:14] jcoyne commented on #1732
@amyehodge which metadata should be sent?

[2021-07-12 15:18] jcoyne commented on #1724
@astridu should we drop the bold text on the radio label that is selected?

[2021-07-12 15:24] jcoyne commented on #1724
@amyehodge the implication for including DOI in this section is that it happens after publication, but we want the DOI to be minted right away, not after the embargo is released, right?  Is that confusing to the user?

[2021-07-12 15:32] jcoyne commented on #1729
I have a question about the format of this. Do we intend to use a DOI link or a DOI name.  The mockups are not clear.  The choice is about specifying a resolver or not (eg. the https://doi.org/ prefix.). doi.org is one resolver service for DOIs but it is not the only resolver service.

[2021-07-12 15:39] #1712 closed

[2021-07-12 16:06] amyehodge commented on #1729
The display guidelines are at https://support.datacite.org/docs/datacite-doi-display-guidelines:

“Yes, a DataCite DOI must be displayed as a link, because it is both an identifier and a persistent link. It is easier for users when a DOI is displayed as a full link as it can be easily copied and reused.”

This should be displayed as `https://doi.org/ prefix/suffix`

[2021-07-12 16:06] #1743 closed

[2021-07-12 16:08] #1721 closed

[2021-07-12 16:09] amyehodge commented on #1732
We at a minimum need to send whichever fields we have that are mapped to DataCite metadata and that have been changed by the user. Alternatively, we can just send all the metadata again after the update, whether it was changed or not. That might be easier.

If the question is what are we sending even the first time around, I can get you the required set. @arcadiafalcone has the mappings, I believe

[2021-07-12 16:09] #1715 closed

[2021-07-12 16:27] amyehodge commented on #1726
Let's go with the default setting be always assign a DOI.

[2021-07-12 16:52] #1755 closed

[2021-07-12 17:21] arcadiafalcone commented on #1732
I think the preliminary mappings got dropped because DataCite wasn't in the first round of development - I can add those to dor-services-app with the other mappings (unless they should go elsewhere).

[2021-07-12 17:30] arcadiafalcone commented on #1732
@jcoyne @justinlittman What would be the best way to provide DataCite mapping specs? Should I add a `let(:datacite) do` stanza to the existing MODS specs or create separate files?

[2021-07-12 17:35] #1694 closed

[2021-07-12 17:45] jcoyne commented on #1732
@arcadiafalcone can you create separate files? This is unlikely to be a part of the existing dor-services-app so it will be easier for us to move to the correct repo if it's separate.

[2021-07-12 17:54] jcoyne commented on #1734
@astridu can you update the designs so that after the user does a lookup the orcid and the control are no longer useable. We don't want people to make changes after they make a selection.

[2021-07-12 18:05] ndushay commented on #685
Progressing:
![image](https://user-images.githubusercontent.com/96775/125335182-1d3de480-e301-11eb-8c75-ab76028a061b.png)

[2021-07-12 18:08] jcoyne commented on #1740
Amy will be able to add these tags via bulk tagging in Argo.

We can get a list of all druids from H2, since they were either migrated and need the tag or were created in H2 and will already have the tag.

[2021-07-12 18:11] jcoyne commented on #1747
@amyehodge says we should put this next to "No License" and change the containing element to "Other"?

This only needs to be added in the list of valid and selectable licenses and it should work.

[2021-07-12 18:17] jcoyne commented on #1763
On possible solution here is to persist an unbounded range in the draft and then validate that the range is bounded when we do final validation. The current EDTF library we use does not support unbounded range.

[2021-07-12 18:20] jcoyne commented on #1763
Another possibility is a custom bit of JS that prevents submitting a draft if range is selected and the range is not complete.

[2021-07-12 18:22] #1780 closed

[2021-07-12 18:24] jcoyne commented on #1768
@amyehodge Can you tell us how to reproduce this?

[2021-07-12 18:35] jcoyne commented on #1577
@astridu do we still need the Description and checkbox if there's an error?

[2021-07-12 19:00] astridu commented on #1724
@jcoyne
should we drop the bold text on the radio label that is selected? Yes, it's inconsistent with how we treat other radio button selections (like on the collections page).
Are we going to stop doing the conditional title for this section? No. Updated the screenshot below.
![image](https://user-images.githubusercontent.com/42216982/125341648-b02e4d00-e308-11eb-9aa9-1086f734d19d.png)

[2021-07-12 19:06] astridu commented on #1577
Good point. I guess not. Here's what it could look like w/o those two fields.
![image](https://user-images.githubusercontent.com/42216982/125342332-a0fbcf00-e309-11eb-94d8-f037632e2b9f.png)

[2021-07-12 19:19] #1742 closed

[2021-07-12 19:20] #1737 closed

[2021-07-12 19:34] amyehodge commented on #1724
@astridu and @jcoyne I've been thinking about @jcoyne's question to me above. The reason we had included "after publication" in this header was to make it clearer that these things only happen after you click the "deposit" button. Though this button in hydrus is called "publish" which was more of a direct connection. I wonder if that makes sense now that we changed the button to say "deposit."

Ma

[2021-07-12 19:45] amyehodge commented on #1577
@astridu This mockup makes a lot more sense to me. Thanks.

[2021-07-12 19:45] astridu commented on #1734
Do you mean the radio button selection would go away? But the ORCID lookup can't be removed because what if they entered an incorrect number and ended up with someone else's ORCID?
![image](https://user-images.githubusercontent.com/42216982/125346538-b9221d00-e30e-11eb-906d-1723208cb976.png)

[2021-07-12 20:25] #1747 closed

[2021-07-12 20:27] #1763 closed

[2021-07-12 20:40] jcoyne commented on #1734
@astridu if they put in the wrong ORCID, then they could delete the row and add a new one.  That way we can keep ORCID and name in the same column saving space.  We only need to ask the "ORCID available?" question when they want to add a new identity. Otherwise we can just show "Maya Aguirre (ORCID: 0000-1111-2222-3333)"

[2021-07-12 21:24] justinlittman commented on #1357
I'm stumped.

[2021-07-12 21:25] amyehodge commented on #1357
@justinlittman Were you able to reproduce this? I haven't had a chance yet to look for this again.

[2021-07-12 21:27] justinlittman commented on #1357
Yes, I can reproduce (unfortunately).

[2021-07-12 21:42] jcoyne commented on #1357
Is this perhaps page caching done by Turbo?  Maybe this only happens when that modal was open when you were last on the page that has that URI?

[2021-07-12 21:48] jcoyne commented on #1357
@justinlittman try this:
[code]

[2021-07-12 21:48] amyehodge commented on #1739
According to @jcoyne, we can set this up so that the collection manager doesn't need to grant privileges to use the collection to the proxy before they can be set as a proxy. That's the best interaction for the user, so let's try to do it that way. In other words:
- if the proxy already has permissions for the collection, they can deposit on behalf of themselves and the person for whom they are th

[2021-07-12 22:08] amyehodge commented on #1734
@jcoyne @jcoyne regarding the discussion earlier today on editing names we retrieve from ORCID, I contacted Sheila Rabun at ORCID/Lyrasis regarding this question. My message and her response are below.

TL;DR Editing is fine, assuming it's not causing us other problems like what @jcoyne brought up at the meeting. I do not want editing to require an admin to approve (yuck). We do not plan to have O

[2021-07-12 22:45] astridu commented on #1734
So then if there is only 1 author listed, that entry will need a trash icon, right?

![image](https://user-images.githubusercontent.com/42216982/125364875-1b3b4c00-e328-11eb-8447-f61b0864b70f.png)

[2021-07-12 22:52] astridu commented on #1738
@amyehodge What do you think of this? Item view page mockup:
![image](https://user-images.githubusercontent.com/42216982/125365447-1dea7100-e329-11eb-806b-3ca7803cd0a9.png)

[2021-07-12 23:29] astridu commented on #1336
It definitely looks a bit neater if that second column is aligned between all the sections.
![image](https://user-images.githubusercontent.com/42216982/125368062-47f26200-e32e-11eb-898f-5642b4b7eaa0.png)

[2021-07-12 23:44] astridu commented on #1337
![image](https://user-images.githubusercontent.com/42216982/125369064-5c375e80-e330-11eb-8a95-d9942afb7455.png)

[2021-07-13 14:22] #1357 closed

[2021-07-13 15:55] jcoyne commented on #1336
@astridu do we need to define that breakpoint at the different supported screen sizes or do we say 25% regardless?

[2021-07-13 17:14] jcoyne opened #1792 "AssignPidJob should record the DOI that is in the RabbitMQ message"
It will have been added by SDR-API.

[2021-07-13 17:17] jcoyne opened #1793 "Request a doi to be asigned when the UI asks for one"
in the registration or deposit call via sdr-client.

[2021-07-13 17:20] jcoyne opened #1794 "When depositing provide the doi in the request if we know what it is."
e.g. after we have registered the DOI is know and persisted, so when we deposit the record send it along.

[2021-07-13 18:18] arcadiafalcone commented on #1732
Mapping ticket: https://github.com/sul-dlss/dor-services-app/issues/2909

[2021-07-13 19:39] #1733 closed

[2021-07-13 20:02] amyehodge commented on #1734
@astridu Yes, I think that's true. That brings us back to the reason the first author doesn't have a trash can icon -- we didn't want to completely delete that entry row because then there are no boxes there and it was a little confusing to figure out what to do without boxes. The user needs to click on the "Add another author" link, but it seems like this is going to have to be deletable. @jcoyne

[2021-07-13 20:56] astridu opened #1798 "Accessibility: Tabbing on deposit page"
For radio buttons on the deposit page, I'm unable to select the radio button that is not selected by tabbing. When I tab from the radio button that is selected, it goes to the next question rather than going to the next radio button option. For users who only use keyboard, they won't be able to select the unselected radio button.

[2021-07-13 20:59] jcoyne commented on #1798
When you use radio buttons via keyboard, you tab to the first one and then use arrow keys to select which option.  Tab again moves to the next control.

[2021-07-13 21:16] astridu commented on #1798
Got it. That worked. thanks!

[2021-07-13 21:16] #1798 closed

[2021-07-13 21:24] amyehodge commented on #1512
@astridu Do you think a using a different separator or putting them on separate lines is better?

[2021-07-13 21:24] amyehodge commented on #1738
@astridu This looks good. I like having them in separate sections like this. I'm iffy on the term "collection designated" and thinking about something like "preassigned." What do you think?

[2021-07-13 21:25] amyehodge commented on #1337
@astridu @jcoyne this looks to me like it would work.

[2021-07-14 02:14] astridu commented on #1336
@jcoyne I don't think we need to define additional breakpoints. Most people will be using this app on their desktop or laptop.

Yes, let's include the file table. It just looks neater overall to have that second column align. Thank you!

[2021-07-14 02:18] astridu commented on #1738
That works!
![image](https://user-images.githubusercontent.com/42216982/125550268-1124e2c3-5777-4eae-b831-aa38450e669d.png)

[2021-07-14 02:24] astridu commented on #1512
Here's how it looks with just a couple keywords and with several keywords. What do you think?
![image](https://user-images.githubusercontent.com/42216982/125550558-261cc9cb-ee57-4fbe-b76c-58b75d5a2e65.png)

[2021-07-14 02:27] astridu commented on #1512
Versus all in one line:
![image](https://user-images.githubusercontent.com/42216982/125551088-c2774871-ffae-4214-ba76-54dcdc3b8796.png)

[2021-07-14 03:36] astridu opened #1799 "Accessibility: Page titles should be more descriptive"
Instead of SDR | Stanford Digital Repository for all the pages, could we rename the page titles to be more descriptive of the page they are on?

For example:
Home page: SDR | Stanford Digital Repository
Dashboard: SDR | Dashboard
Collections: SDR | Collection or SDR | Collection name (e.g. SDR | Climate Change)
Deposits: SDR | Deposit or SDR | Deposit name (e.g. SDR | Atmospheric Dataset)

[2021-07-14 03:55] astridu opened #1800 "Accessibility: Name fields are not descriptive"
I used the screen reader to make sure I could still navigate the site by screen reader only, and it worked pretty well. One thing I noticed was that for any field that had first name and last name, it said "Candidate for" instead of the label. Not sure if I have something specific on my Chrome browser that is doing that, but the label appears to be ok, and all the other fields work. Do you have an

[2021-07-14 04:46] jcoyne commented on #1336
@astridu We use bootstrap which has breakpoints for six classes of devices: extra small, small, medium, large, or extra large devices .   We can't not use them if we're using bootstrap, so we need to define what the breakpoint should be at each size device.

[2021-07-14 10:53] #1722 closed

[2021-07-14 12:51] jcoyne commented on #1800
I've never seen this. We don't have any code that says "Candidate for".  No idea what this is.

[2021-07-14 12:54] jcoyne commented on #1738
We don't have a way on the item of differentiating between what the user entered and what was a collection default.  Those all end up in the same place in the metadata.  Is that an important distinction to make?

[2021-07-14 13:51] amyehodge commented on #1512
@astridu The separate lines will make the page longer when there are more, but it's way more readable. And I'll note the PURL displays them on separate lines as well. I like that option, so I'm going to rename this ticket.

[2021-07-14 13:53] amyehodge commented on #1511
@jcoyne Is this feasible to add to the ready?

[2021-07-14 14:00] amyehodge commented on #1738
Ah. I think it's nice for the user to be able to see this on the item view, but not critical if it's complicated. However, depositors *should* be able to see the pre-assigned collection level terms on the deposit for as Astrid has mocked it up so they 1) know these terms will be assigned and 2) won't enter them again and 3) won't be able to alter or delete them like they would if they just showed

[2021-07-14 14:27] amyehodge opened #1801 "Update rules for default citation date so that publication date is no longer used."
According to #655, we set up the rules for the date in the automatically-generated citation like this:

"Rules for the date:

- If there is a publication date entered, use that date, but only the year
- If there is no publication date but there is an embargo date, use that date, but the year only
- Otherwise use the current year"

After some discussions recently with @arcadiafalcone, we realized t

[2021-07-14 15:05] jcoyne commented on #1337
I'm not sure this is well defined yet.  Is this a percentage of the width or is it a specific number of rems?  Do we want the value to be the same for all screen sizes?

[2021-07-14 16:34] #1800 closed

[2021-07-14 16:48] jcoyne commented on #1738
@amyehodge what if they make version 1 and "topic 1" is required, but when the come back to edit, the collection has been changed and "topic 1" is not required but "topic 2" is now required?  How would we like it to display in those cases?

[2021-07-14 16:57] #1725 closed

[2021-07-14 16:58] astridu commented on #1336
@jcoyne I'm not sure how to do this. Can you make a suggestion?

[2021-07-14 16:59] astridu commented on #1337
@jcoyne What would you recommend? My inclination is to go with a percent, but I don't know all the consequences of using this method.

[2021-07-14 17:04] jcoyne commented on #1511
This is doable, but it makes it hard to find and read in some locations I think:

<img width="1139" alt="Screen Shot 2021-07-14 at 12 01 52 PM" src="https://user-images.githubusercontent.com/92044/125663012-bd3973f4-e232-4acd-b96c-59df94970a78.png">

<img width="1145" alt="Screen Shot 2021-07-14 at 12 02 11 PM" src="https://user-images.githubusercontent.com/92044/125663019-10190e8c-c2df-47cf-a94f-

[2021-07-14 17:18] honeybadger[bot] opened #1804 "[happy-heron/stage] Errno::ENOENT: No such file or directory @ rb_sysopen - collections.jsonl"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80421002)

[2021-07-14 17:26] amyehodge commented on #1738
@jcoyne We should change the keywords assigned to the item at the collection level and display those. So:

1. Collection manager assigns one or more keywords at the collection level.
2. Depositor creates an item and those terms are assigned. I think let's still require them to enter at least one keyword of their own here and not count the terms set at the collection level.
3. Depositor completes d

[2021-07-14 17:28] amyehodge commented on #1511
We definitely wouldn't want to have the buttons overlaid on top of anything else, and we don't want to create accessibility issues. @astridu do you have a suggestion here, as this was your suggestion originally?

[2021-07-14 17:34] honeybadger[bot] opened #1805 "[happy-heron/qa] TypeError: Parameter 'work_version': Expected type WorkVersion, got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210712212147/app/components/works/link_to_show_component.rb:16 Definition: /opt/app/h2/happy-heron/releases/20210712212147/app/presenters/work_title_presenter.rb:9"
## Backtrace

    line 16 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: title
    line 12 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: link
    line 1 of [PROJECT_ROOT]/app/components/works/link_to_show_component.html.erb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80421220)

[2021-07-14 17:34] honeybadger[bot] opened #1806 "[happy-heron/qa] ArgumentError: Record must be specified"
## Backtrace

    line 40 of [PROJECT_ROOT]/app/controllers/works_controller.rb: edit

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80421221)

[2021-07-14 17:43] ndushay commented on #685
approved;  in progress:

![image](https://user-images.githubusercontent.com/96775/125667915-cbca3630-f020-4e04-8c06-29a1e05dfc4d.png)

![image](https://user-images.githubusercontent.com/96775/125667944-1b191292-1c13-496a-be31-62587c0bce33.png)

[2021-07-14 17:56] honeybadger[bot] opened #1807 "[happy-heron/qa] ArgumentError: Record must be specified"
## Backtrace

    line 101 of [PROJECT_ROOT]/app/controllers/works_controller.rb: show

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80421783)

[2021-07-14 17:56] honeybadger[bot] opened #1808 "[happy-heron/qa] TypeError: Parameter 'work_version': Expected type WorkVersion, got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210714175234/app/components/works/link_to_show_component.rb:16 Definition: /opt/app/h2/happy-heron/releases/20210714175234/app/presenters/work_title_presenter.rb:9"
## Backtrace

    line 16 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: title
    line 12 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: link
    line 1 of [PROJECT_ROOT]/app/components/works/link_to_show_component.html.erb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80421785)

[2021-07-14 18:02] #1804 closed

[2021-07-14 18:05] jcoyne commented on #1337
I think a percent could be fine, although it might not be wide enough on small screens.  We could set a percentage in combination with a min-width in terms of relative units (like rem).

[2021-07-14 19:10] honeybadger[bot] opened #1809 "[happy-heron/qa] ActiveRecord::InvalidForeignKey: PG::ForeignKeyViolation: ERROR: update or delete on table "work_versions" violates foreign key constraint "fk_rails_3aa29f8d19" on table "works" DETAIL: Key (id)=(173) is still referenced from table "works"."
## Backtrace

    line 24 of [PROJECT_ROOT]/app/controllers/work_versions_controller.rb: block in destroy
    line 16 of [PROJECT_ROOT]/app/controllers/work_versions_controller.rb: destroy

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80422900)

[2021-07-14 20:01] #1703 closed

[2021-07-14 20:27] jcoyne commented on #1511
@astridu how would that interact with the footer at the bottom of the page?

[2021-07-14 20:42] jcoyne commented on #1738
@amyehodge I'm concerned that we could surprise the depositor if we remove keywords that they thought were already associated with their deposit.

[2021-07-14 20:45] jcoyne commented on #1336
@astridu sorry for being confusing, I guess we should just try it at 25% for every screen size and then adjust as necessary.

[2021-07-14 20:54] amyehodge commented on #1738
@jcoyne That is a concern. The collection manager might remove a term that the user wants to have present. The user wouldn't have added it originally because it was already there, but they might not notice that it has been removed. So, I guess we could alert them when a term has been removed? I'm not sure what that would look like.

This also makes me think that we should make sure it's clear that

[2021-07-14 21:12] astridu commented on #1511
The way I've seen it work is when the user gets to the point of the bottom of the page, the buttons are no longer anchored. They just see the buttons on the page with the footer below it. I'm looking for an example but having trouble finding one.

[2021-07-15 13:50] justinlittman commented on #1727
@amyehodge Does "not automatically assigned" make sense? It seems to suggest that the depositor can manually assign. Should it just be "not assigned"?

[2021-07-15 13:58] amyehodge commented on #1727
@justinlittman Agreed. "Depositor selects" is the notation for a depositor can choose, so this one should be "Not assigned." I've updated it in the Design Doc. @astridu can you update this is in the mockups? I've made a comment about it there.

[2021-07-15 14:59] justinlittman commented on #1728
Note that https://github.com/sul-dlss/happy-heron/issues/1724 is for refactoring the existing parts of the Manage release box to match the mockups. I'm going to ignore those, but try to make the DOI section match.

[2021-07-15 15:08] #1598 closed

[2021-07-15 15:22] amyehodge opened #1815 "Update text and add yes/no to toggle for auto-generated work citation on work deposit page"
On the work deposit page in this section:

![Screen Shot 2021-07-15 at 11.21.21 AM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/8c2988d3-abe2-4f2a-8fa7-c59d7c590d18)

1. Update the label next to the toggle from "Use default citation" to "Use auto-generated citation".
2. Add yes/no labels to the toggle bar to match the design we have for the DOI selection:

![image.png](https:

[2021-07-15 15:31] jcoyne commented on #1036
@astridu have you been able to work on the updated design for reviewers/managers/depositor field that includes the names?

[2021-07-15 15:33] amyehodge commented on #1741
@jcoyne @astridu @hannahfrost

I talked with Hannah about this briefly on Tuesday and here's what I'm thinking that might simplify this. HF and I discussed that being able to re-embargo something is not a use case that we need to support. Because of this, I would suggest that once an item has been released (either immediately or at the end of an embargo), we do not show the release options again,

[2021-07-15 15:45] amyehodge commented on #1577
@jcoyne Can we put this one in the ready? It looks good to me.

[2021-07-15 16:04] amyehodge commented on #1751
@jcoyne Can we put this in the ready?

[2021-07-15 16:42] arcadiafalcone commented on #1300
I revised my approach to this in the DataCite mapping to be more specific and will update the MODS mappings accordingly. See https://github.com/sul-dlss/dor-services-app/issues/2919.

[2021-07-15 16:42] #1300 closed

[2021-07-15 16:49] astridu commented on #1724
That sounds good. Will update mockup this afternoon.

[2021-07-15 16:55] jcoyne commented on #1751
I think we should split this out into individual tickets for the individual fields. I'm still not clear on what elements of the date fields we are talking about putting into field sets.

[2021-07-15 17:01] amyehodge commented on #1734
@astridu Can we also delete the "is" from these entry rows? @justinlittman pointed out that these now read somewhat confusingly "[Role term] is [Is ORCID available?]...")

@jcoyne Does @astridu's last update work for you?

[2021-07-15 17:20] ndushay commented on #1794
automatic closure of tickets on github isn't working ...

[2021-07-15 17:20] #1794 closed

[2021-07-15 17:54] justinlittman commented on #1730
@amyehodge Can you say more? Under our current design, we won't actually register a DOI until the accession WF so registering a DOI when reserving a PURL is going to be problematic.

[2021-07-15 18:14] jcoyne commented on #1730
@justinlittman I think this only has to set the assign_doi attribute in sdr-api, so that they will see what the DOI will be once it is published.

[2021-07-15 18:16] amyehodge commented on #1730
@justinlittman, @jcoyne's response sounds right to me, based on our discussion the other day.

[2021-07-15 18:41] amyehodge commented on #1738
@jcoyne, I discussed this some with @astridu this morning regarding showing the changed collection-level terms to depositors. I want to run through how this would work.

When a collection manager sets keywords, they will only be assigned to new deposits or newly versioned items in a collection, not to any existing items. They will have to go back and change those by hand at the moment if they want

[2021-07-15 19:07] astridu commented on #1734
Also put 'clear values' link instead of trash can for the first entry. Clicking this link would clear the values entered so the user can re-enter if the ORCID isn't right for some reason.

![image](https://user-images.githubusercontent.com/42216982/125843607-85d703a6-e81e-4199-abab-e254d28619d1.png)

[2021-07-15 19:17] astridu commented on #1724
Here is a link to the updated mockups: https://projects.invisionapp.com/share/EQXC9CLKCR2#/453759485_DOI

[2021-07-15 19:23] amyehodge commented on #1730
@jcoyne @justinlittman Some further detail on this ticket.

What we need is for the depositor to know what the DOI will be once the item is deposited, assuming they have chosen to get one. I'd like to see this showing up on the item view page below the PURL, as shown in the mockups for that page for after a normal deposit. We could possibly just display some text here that says "The DOI for this i

[2021-07-15 19:24] amyehodge commented on #1724
Thanks, @astridu. @jcoyne does this adequately address your concern?

[2021-07-15 19:59] astridu commented on #1727
Mockup is updated.

[2021-07-15 20:06] jcoyne commented on #1724
Sure does. 👍

[2021-07-15 20:08] amyehodge commented on #1724
Cool. I'm putting this in the ready.

[2021-07-15 20:11] jcoyne commented on #1734
@astridu another concern that came up is that typicially when the choice is yes/no (or true/false), a checkbox is used.  Is there a reason we wouldn't want to have:

- [ ] Lookup with ORCiD?

[2021-07-15 22:30] astridu commented on #1734
That could work too. Would the default be to have it selected?
![image](https://user-images.githubusercontent.com/42216982/125865994-d6555429-67be-4df0-86fc-a529b0efa7c1.png)

And then when it's not selected, it would display the first/last name text fields.
![image](https://user-images.githubusercontent.com/42216982/125866032-e9f5bbc3-58d8-4dfd-afcd-c04d28f16f57.png)

[2021-07-15 22:45] astridu commented on #1738
Amy and I discussed, and we decided on the following:
1. update text on collection details page where user enters keywords for collections to "Enter keywords you would like applied to new deposits or to new versions of existing deposits in this collection. Existing items will not be updated."
2. Indicate on the view item page that a new keyword has been added to the preassigned with a tooltip for

[2021-07-15 23:25] astridu commented on #1036
@jcoyne @amyehodge Let me know if this will work.
1. When user first arrives on this page, they see the lookup boxes.
![image](https://user-images.githubusercontent.com/42216982/125869007-5c4f399c-23af-4d4c-8f4a-245f0fed3b66.png)

2. When user enters a SUNet and clicks the magnifying glass, search results are returned in a small box below the search box.  User can click the 'Add' button next to th

[2021-07-15 23:56] astridu commented on #1741
@amyehodge
Screenshot for 1 & 2 (does this work?)
![image](https://user-images.githubusercontent.com/42216982/125872182-ddd1c78f-4bbf-4dde-950f-3e5d76b51fab.png)

Screenshot for 3
![image](https://user-images.githubusercontent.com/42216982/125872203-2d57b08f-28cb-450a-8408-87761fbed9dd.png)

[2021-07-16 11:19] justinlittman commented on #1734
@astridu Should the user be able to change the value returned by ORCID?

[2021-07-16 14:10] #1393 closed

[2021-07-16 14:11] #1801 closed

[2021-07-16 14:28] jcoyne commented on #1036
@astridu should there be a way to remove managers and depositors?

[2021-07-16 14:52] amyehodge commented on #1741
@astridu These don't match with the new mockups you did for this section at https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/453759485_DOI section IIIa.

[2021-07-16 15:22] amyehodge commented on #1036
@jcoyne Good point. Trash can icons by each entry, perhaps?

And what happens when there is no match? Someone might enter "stacemaples" but this should not return a result because it's an alias, not a real SUNet ID. The real ID is "maples". @jcoyne I think the plan is to only search for real SUNet ID and only return the exact match. If you don't get what you thought because you did not enter a rea

[2021-07-16 15:24] amyehodge commented on #1036
@astridu We're also going to want this in the reviewers section.

[2021-07-16 15:37] justinlittman commented on #1730
I made a few tweaks to this, such that:
1. If there is a DOI assigned, the DOI is displayed.
2. If a PURL is assigned and a DOI might be assigned: `"The DOI for this item will be DOI:10.25740/fr222rb2406" (if assigned)`.
3. If a PURL is not assigned and a DOI is automatically assigned or the depositor has selected: `DOI will become available once the work has been deposited.`

[2021-07-16 16:03] justinlittman commented on #1815
@amyehodge I can't find an existing component that looks like the Yes / No toggle. As I see it, the following are the options:
1. Use the existing Bootstrap switch, but choose less confusing colors. (Related: Not sure that the existing red/grey would be usable be someone red/green color blind.)
2. Switch to a checkbox.

I don't think writing our own Yes / No toggle is a viable option.

cc @jcoyne

[2021-07-16 16:12] amyehodge commented on #1815
@astridu @jcoyne @justinlittman Can we put yes/not text above or next to the toggle to make it clearer, instead of on top of it?

[2021-07-16 16:53] justinlittman commented on #1815
Using approach described here: https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button/39846603#39846603

[2021-07-16 17:01] astridu commented on #1741
Sorry, I grabbed that screenshot off stage. Will update w/the latest mockup.

[2021-07-16 17:08] justinlittman commented on #1734
Also, what does "Lookup ORCID id" mean? Naively, I would think that means given a name, find the ORCID id, not the other way around.

[2021-07-16 17:15] astridu commented on #1741
I deleted the wrong mockups and pasting the correct ones here.
![image](https://user-images.githubusercontent.com/42216982/125984072-cf1f1945-aab7-4f0f-90dd-bed3a844e9f5.png)

[2021-07-16 17:19] astridu commented on #1734
@justinlittman User should not be able to change the value returned by ORCID.
@jcoyne suggested 'Lookup ORCID iD' What would make more sense to you? "Use ORCID id" or "Enter ORCID iD"?

[2021-07-16 17:30] astridu commented on #1036
If no match returns, then they would see something like this:
![image](https://user-images.githubusercontent.com/42216982/125986615-5dee9230-299c-4707-9d86-7c9b316956e9.png)

[2021-07-16 17:35] astridu commented on #1036
I updated the mockups above w/trash cans. If they delete the only manager/depositor listed, clicking the trash icon should remove that person and then display the search box so user can enter in another name.

[2021-07-16 17:40] astridu commented on #1036
Reviewers
![image](https://user-images.githubusercontent.com/42216982/125987708-95ce2b19-86b4-442f-be06-c0f5b195d621.png)

[2021-07-16 17:48] astridu commented on #1751
Will split this into 2 tickets.

[2021-07-16 17:48] #1751 closed

[2021-07-16 18:17] amyehodge opened #1825 "Remove progress bar from work edit page"

[2021-07-16 18:19] amyehodge opened #1826 "For Deposits in Progress section of Dashboard, remove progress bar and replace current content with a table"
@astridu will be putting together a mockup for this.

[2021-07-16 18:32] astridu opened #1827 "Accessibility: date fields need to be grouped and labeled"
When a form contains elements that are logically connected to each other it is necessary to group them.

The form contains check boxes and/or radio buttons that are not grouped and named, using a 'fieldset' with a descriptive 'legend' or the WAI-ARIA attribute role="group" (for check boxes) or role="radiogroup" (for radio buttons) with a descriptive 'aria-labelledby' or 'aria-label'.

On the depos

[2021-07-16 18:34] astridu opened #1828 "Accessibility: work types need to be grouped and labeled"
When a form contains elements that are logically connected to each other it is necessary to group them.

The form contains check boxes and/or radio buttons that are not grouped and named, using a 'fieldset' with a descriptive 'legend' or the WAI-ARIA attribute role="group" (for check boxes) or role="radiogroup" (for radio buttons) with a descriptive 'aria-labelledby' or 'aria-label'.

On the depos

[2021-07-16 18:37] jcoyne commented on #1827
@astridu can you list the legend that we want for each of those?

[2021-07-16 18:38] jcoyne commented on #1827
this wouldn't apply here since these aren't checkboxes or radio buttons?

[2021-07-16 18:39] jcoyne commented on #1828
@astridu why do we want these to be two separate fieldsets?  They are all subtype options, aren't they?

[2021-07-16 18:41] amyehodge commented on #1718
@jcoyne Vivian asked that I confirm with you regarding some points on the migration.

1. During the "freeze" period no one should have access to hydrus.
2. After the migration, University Archives staff and me, @hannahfrost , and @andrewjbtw , should have permission to view but not edit content in Hydrus. I'd like to confirm the location of that -- I think sul-hydrus-prod, but please confirm here.

[2021-07-16 18:43] astridu commented on #1815
Can we do this?

![image](https://user-images.githubusercontent.com/42216982/125994264-c4f0f467-4bde-42b7-a3d4-6fb7ab77e340.png)
![image](https://user-images.githubusercontent.com/42216982/125994416-59be786a-fe2d-4344-a395-0b48ced4972e.png)

[2021-07-16 18:48] amyehodge commented on #1826
@astridu Here's what needs to be in this table, listed in order from left to right, for the mockups:

Deposit [title of the deposit]
Pencil icons and trash cans when appropriate
Collection [title of the collection]
Deposit status [Draft- not deposited, New version in draft, or PURL Reserved]
Last modified

Thanks.

[2021-07-16 18:51] justinlittman commented on #1815
Here's what I implemented:

![image](https://user-images.githubusercontent.com/588335/125995236-31844002-95b4-48ff-a4cd-fec690233c8a.png)

![image](https://user-images.githubusercontent.com/588335/125995323-2d7ed483-ecb2-4c23-bcd9-cb7026602ec4.png)

[2021-07-16 19:00] amyehodge commented on #1815
@justinlittman This is definitely clearer IMO

[2021-07-16 19:06] astridu commented on #1827
Sorry, I misunderstood what it was trying to tell me. So it's probably asking to group the radio buttons, not the date fields. Will update the mockup above.

[2021-07-16 19:09] astridu commented on #1827
@jcoyne By legend, do you mean a label to describe the group? The first one could be 'Creation date' and the second one could be 'Release date'.

[2021-07-16 19:11] astridu commented on #1828
I see your point. Yes, they should probably be included in one group. Thx!

[2021-07-16 19:11] astridu commented on #1815
Beautiful! Can you make the 'Yes' 'No' text slightly bigger? It looks a little smaller than the body text.

[2021-07-16 19:39] jcoyne commented on #1827
Yeah, that makes a lot more sense now, with the updated groupings.

[2021-07-16 19:51] amyehodge commented on #1741
Also, this will likely need the same yes/no toggle treatment that was just implemented over at #1815.

[2021-07-16 19:52] amyehodge commented on #1741
@jcoyne I think this one is ready for the Ready column. Could you have a look? Thanks.

[2021-07-16 19:54] amyehodge commented on #1036
@jcoyne Do you have further questions here or is this one ready for the Ready column?

[2021-07-16 20:19] amyehodge commented on #1738
@jcoyne I think we are back to you on this one to see if it's ready for the Ready. Thanks.

[2021-07-16 20:30] justinlittman commented on #1815
Hah, I already did @astridu (after I took the screenshots).

[2021-07-16 20:34] amyehodge commented on #1336
@jcoyne @astridu Is this ready for the Ready column? Thanks.

[2021-07-16 20:34] amyehodge commented on #1337
@jcoyne @astridu Is this ready for the Ready column? Thanks.

[2021-07-16 20:47] amyehodge commented on #993
We are getting rid of the progress bar, so I'm closing this ticket. See #1825

[2021-07-16 20:47] #993 closed

[2021-07-16 20:48] amyehodge commented on #1361
We are getting rid of the progress bar, so I'm closing this ticket. See #1825

[2021-07-16 20:48] #1361 closed

[2021-07-16 20:50] amyehodge commented on #426
We are getting rid of the progress bar, so I'm closing this ticket. See #1825

[2021-07-16 20:50] #426 closed

[2021-07-16 20:50] amyehodge commented on #1355
We are getting rid of the progress bar, so I'm closing this ticket. See #1825

[2021-07-16 20:50] #1355 closed

[2021-07-16 20:51] astridu commented on #1337
For me it is.

[2021-07-16 20:52] astridu commented on #1336
Yes from me.

[2021-07-16 20:57] amyehodge commented on #425
@jcoyne I seem to recall a discussion with you that this would be really hard to implement. Am I remembering that correctly?

If so, I think it's not worth doing and we should just close this ticket. On the other hand, if it's easier, I'm looking for things to put in the ready while details for other features are still being ironed out, and this is one of the few things left.

[2021-07-16 21:00] amyehodge commented on #36
@jcoyne I think this works if we're talking about being able to download files for migrated content. I was just able to download a file from https://new-sdr.stanford.edu/works/12, which was deposited years ago and migrated to H2 in the first batch.

[2021-07-16 21:03] amyehodge commented on #243
@jcoyne Can we put this one in the ready column? Is there something blocking our ability to implement this? Thanks.

[2021-07-17 00:34] astridu commented on #1826
![image](https://user-images.githubusercontent.com/42216982/126020033-d4321055-60e6-469b-b185-81be6badb097.png)

[2021-07-18 13:16] jcoyne commented on #243
There is nothing stopping this from being worked on.

[2021-07-19 14:03] amyehodge commented on #1826
This looks good. We need to also link the collection and item titles in both of these tables.

[2021-07-19 14:14] amyehodge commented on #1511
@jcoyne @astridu I found an example of this for something near the top of the page, not the bottom. Hopefully, it's helpful.

https://images.zenhubusercontent.com/272543337/891f513d-09ce-499c-a1f1-5ad10081d73f/screen_recording_2021_07_19_at_10_12_10_am.mov

[2021-07-19 14:16] amyehodge commented on #1511
The above link is https://www.redfin.com/#userFeed, but I think you need a user account to see the feed properly.

[2021-07-19 14:43] amyehodge opened #1832 "On collection edit page, add ability to assign collection-level keywords"
We will need an addition to the collection form for entering these keywords. This should function like the one on the deposit form, with FAST lookup and free text entry.

When a collection manager sets keywords, they will only be assigned to new deposits or newly versioned items in a collection, not to any existing items.

![collection deposit.png](https://images.zenhubusercontent.com/5e9e06e81c23

[2021-07-19 14:46] amyehodge opened #1833 "On collection view page, add in the list of pre-assigned keywords."
These are the keywords assigned at the collection level. See #1832

Collection view page mockup: https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/454558535_keyword_In_Collection_View

![Screen Shot 2021-07-19 at 10 56 26 AM](https://user-images.githubusercontent.com/5558511/126180880-3342ddb8-b0a2-4e12-9bf2-0c3cfb07f385.png)

Originally part of #1738.

[2021-07-19 14:48] amyehodge opened #1834 "On work edit page, display the pre-assigned collection-level keywords."
The user should see a list of keywords assigned at the collection level just above the keyword entry box. The collection-level keywords should not be editable or removable.

https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/454558560

![Screen Shot 2021-07-19 at 10 57 05 AM](https://user-images.githubusercontent.com/5558511/126180964-47d5635f-9708-4419-b5d8-bd04042eadc6.png)

Originally

[2021-07-19 14:51] amyehodge opened #1835 "On item view page, list the pre-assigned collection-level keywords in a separate list"
The keywords assigned at the collection level should be displayed on the item view page in a separate row above the user-assigned keywords.

These should be displayed one per line (#1836 is the ticket for getting the user-assigned keywords on separate lines)

![keywordsOnePerLine.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/77f8d862-91a9-4b8a-b13d-d0745e9c4f40)

Originally pa

[2021-07-19 14:52] amyehodge opened #1836 "Display user-assigned keywords on the item view page on separate rows"
Right now these are separated with commas, but they will be much easier to read for the user if they are on separate rows.

![keywordsOnePerLine.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/8ab46c01-205a-4028-a16e-640af9461008)

[2021-07-19 14:58] amyehodge commented on #1738
This has been replaced with #1832, #1833, #1834, and #1835.

[2021-07-19 14:58] #1738 closed

[2021-07-19 15:27] amyehodge commented on #1734
1. Questions till remaining:
2. Select alternate text if we don't like "Lookup ORCID iD"
3. Decide what information to return from the ORCID iD lookup. If we can get name and institution, that would be great. In some cases we can only get name. In some cases we won't even be able to see the name. When there isn't even a name, we should display a message like, "No public information available for t

[2021-07-19 18:10] #1652 closed

[2021-07-19 18:10] jcoyne commented on #1741
It is to be considered "released" if the previous published version was "immediate" or it's embargo date has passed.

[2021-07-19 18:13] ndushay commented on #1734
Per mid-sprint planning:
- we need better UX design on individual contributor names <--> ORCID lookups and name from ORCID edits
- JCoyne says it will be a lot faster to only implement this once (with an acceptable UX design)
- Astrid is on vacation all week
- Vivian will ask Mark if Gary can give us a few hours this week

[2021-07-19 18:18] ndushay commented on #1835
from midsprint planning:

Things that could affect an item's collection supplied keywords?
- when a collection's keywords change
- when an item is moved to a different collection
- when an item is saved after the collection's keywords change

[2021-07-19 18:49] amyehodge commented on #1741
Here's the summary for this ticket:

Once an item has been "released" -- either the previously published version was "immediate" or its embargo date has passed -- the user should see only the release date displayed in the "Release date" section and not any selection options.

If the item was deposited but has not yet reached its embargo release date, the user should still see the current options d

[2021-07-19 19:04] peetucket commented on #243
I think this is actually done.  I verified on localhost.  The existing column name on the `work_versions` table is called `agree_to_terms`

[2021-07-19 19:27] amyehodge commented on #243
@peetucket Did you see @mjgiarlo 's note above -- I'm not seeing this rendered as already checked.

[2021-07-19 19:32] peetucket commented on #243
huh, it showed as checked for me in a draft work after i checked it and saved the draft, and then came back to edit the draft (on localhost anyway on the main branch)

[2021-07-19 19:33] mjgiarlo commented on #243
As I understood it, this issue is about changing ToD acceptance from a work- (or work version-) specific implementation to a user-specific implementation.

[2021-07-19 19:35] amyehodge commented on #243
@mjgiarlo That's right. Though to clarify, you should see the box there, but it would be checked.

Once a year is the time we have currently in Hydrus I think and that works fine, so I'd say go with that.

Thanks, @mjgiarlo. Didn't mean to pull you away from other things!

[2021-07-19 19:36] mjgiarlo commented on #243
Ah yes, thank you!

That sounds reasonable to me, too.

np!

[2021-07-19 19:55] jcoyne commented on #36
No, this is something else. Currently we maintain a hydrus specific data repository which we've converted to an h2 data repository, but this ticket asks us to do away with this repository and to proxy items from preservation as needed.

[2021-07-19 19:57] amyehodge commented on #36
Ah, okay. Thanks.

[2021-07-19 19:59] #1512 closed

[2021-07-19 19:59] jcoyne commented on #1836
Is this a duplicate of #1512?

[2021-07-19 20:01] jcoyne commented on #1718
Hydrus doesn't have such a feature.

[2021-07-19 20:08] jcoyne commented on #425
I think we can do this, but we should enumerate which fields we would like to see this sort of validation on and the text for each.

[2021-07-19 20:22] peetucket commented on #243
Ah, I see.

Does this require a new user level setting somewhere (like the home page) to indicate this overall acceptance?  Or do we use the first work acceptance for a user as a way to set this?  In other words, when I create my work first and check the existing box, this gets stored at the user level for the next year so that each new work now defaults to checked.  Then after a year, it gets tog

[2021-07-19 21:16] amyehodge opened #1837 "On dashboard for Reserved PURLs, add trash can icon next to pencil icon."
This should do the same thing that the trash can icon does for the Reserved PURL, which is that it gets rid of the object entirely (I'm not sure what's happening to it on the back end).

@jcoyne Please let me know if you have any questions about this. I want to get this in the Ready if possible.

[2021-07-19 21:22] amyehodge commented on #243
Yes, that's how it works currently. There isn't a user level setting anywhere else.

[2021-07-19 21:27] amyehodge commented on #1836
Oh, sorry. I forgot #1512 was modified to this. Closing.

[2021-07-19 21:27] #1836 closed

[2021-07-19 23:23] hannahfrost commented on #1718
@jcoyne Is it possible to limit access to sul-hydrus-prod after the migration to a small set of users, even if it is not possible to prevent editing?

@amyehodge I would expect that we can be trusted to not edit any Hydrus content in Hydrus, do you agree?

[2021-07-20 04:47] jcoyne commented on #1718
@hannahfrost I believe the operations team could put such a restriction in place.  However, there are other concerns as I had planned the migration in such that aspects of Hydrus may not be working correctly after the migration (namely the workflow).

[2021-07-20 14:46] amyehodge commented on #1768
I'm now unable to reproduce this. I think other updates to the history info have likely fixed this. Closing.

[2021-07-20 14:46] #1768 closed

[2021-07-20 19:52] amyehodge commented on #1835
@jcoyne Here's the summary from my discussion with @hannahfrost this morning on how we want this to work.

1. Regarding the discussion about the metadata and the point that there is no way to distinguish in the MODS between the depositer-entered keywords and those set by the collection manager, this is fine. If once it ends up in the MODS it is indistinguishable, that's not a problem.
2. When an i

[2021-07-20 19:55] amyehodge commented on #1717
@jcoyne More details from what Irina Trapido is seeing are below. The important bit is the last image that shows that even after she unblocks images in the desktop app, they still don't display properly.

It looks like by default, all images are getting blocked:
Webmail:
![irina1.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/338b8ba1-131e-47f6-aa69-07607d1e500f)

After I click

[2021-07-20 20:31] jcoyne commented on #1717
@amyehodge I wonder if the outlook desktop client doesn't support SVG images.

[2021-07-20 20:54] amyehodge commented on #1717
@jcoyne I use the Outlook desktop client and the images have always come through fine for me.

[2021-07-20 21:12] jcoyne commented on #1717
@amyehodge Yes, it's possible it's only the Windows client that's the problem. Can we get someone else to test?

[2021-07-20 21:16] amyehodge commented on #1717
I'll see if I can find another Windows user. Going to be tough in our small pool of users.

[2021-07-20 22:00] amyehodge commented on #1717
One of the two people I'm talking to right now has confirmed Windows with Outlook desktop client.

[2021-07-20 22:18] jcoyne commented on #1835
@amyehodge it sounds to me like we now have a good understanding of how to move forward. Push it to ready!

[2021-07-22 15:41] honeybadger[bot] opened #1840 "[happy-heron/stage] Cocina::Models::ValidationError: #/components/schemas/DOI pattern ^10\.25740\/[b-df-hjkmnp-tv-z]{2}[0-9]{3}[b-df-hjkmnp-tv-z]{2}[0-9]{4}$ does not match value: "10.80343/nd055vd9298", example: 10.25740/bc123df4567"
## Backtrace

    line 53 of [PROJECT_ROOT]/app/jobs/assign_pid_job.rb: build_cocina_model_from_json_str
    line 15 of [PROJECT_ROOT]/app/jobs/assign_pid_job.rb: work

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80555396)

[2021-07-22 19:25] #1827 closed

[2021-07-22 20:43] jcoyne commented on #1826
Do we want to keep the delete button on these rows too?

[2021-07-22 20:54] amyehodge commented on #1826
@jcoyne yes, please. whatever functionality is there we want to keep, we just want to put it in the table. Hopefully we didn't miss anything else.

[2021-07-22 21:08] #1825 closed

[2021-07-22 22:05] amyehodge opened #1843 "Add ORCID information to descriptive metadata"
ORCID IDs added to H2 should be stored in descMD.

@arcadiafalcone can you confirm the location where these should be stored? Thanks.

[2021-07-23 15:24] jcoyne commented on #1036
@amyehodge this is already in the "in progress column" it just got stalled for a few weeks on the designs. We're able to continue with it now.

[2021-07-23 17:26] arcadiafalcone commented on #1843
https://github.com/sul-dlss/dor-services-app/blob/9ac97a4830684223e27c34d1dcfd84b26fcec27a/spec/services/cocina/mapping/descriptive/h2_datacite/contributor_h2_datacite_spec.rb#L1601 and https://github.com/sul-dlss/dor-services-app/blob/9ac97a4830684223e27c34d1dcfd84b26fcec27a/spec/services/cocina/mapping/descriptive/h2_datacite/contributor_h2_datacite_spec.rb#L1700 show the H2-cocina-DataCite mapp

[2021-07-23 17:27] #1690 closed

[2021-07-23 18:04] arcadiafalcone commented on #1843
PR for the MODS mapping: https://github.com/sul-dlss/dor-services-app/pull/2946

[2021-07-23 18:53] jcoyne opened #1848 "Fix flappy spec"
[code]

[2021-07-23 18:59] honeybadger[bot] opened #1849 "[happy-heron/stage] ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR: null value in column "work_version_id" violates not-null constraint DETAIL: Failing row contains (57837, , f, null, 2021-07-23 18:59:46.900415, 2021-07-23 18:59:46.900415)."
## Backtrace

    line 170 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: block in save!
    line 169 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: save!
    line 29 of [PROJECT_ROOT]/app/controllers/works_controller.rb: create

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80575296)

[2021-07-25 17:15] honeybadger[bot] opened #1851 "[happy-heron/prod] ActionDispatch::Cookies::CookieOverflow: ActionDispatch::Cookies::CookieOverflow"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80593538)

[2021-07-26 17:09] #1826 closed

[2021-07-26 20:24] justinlittman commented on #1848
I can replicate this sporadically. The delete button is nested in several layers of turbo frames. The only thing I can think of is that there is some sort of race condition with UJS and the frames.

Will try adding a slight delay.

[2021-07-26 20:32] justinlittman commented on #1848
Based on the generated screenshots, it is proceeding to the collection edit page when clicked.

[2021-07-27 18:38] #1724 closed

[2021-07-27 18:38] #1848 closed

[2021-07-27 18:43] #1815 closed

[2021-07-28 14:14] amyehodge commented on #1717
The second person has confirmed Windows, and she uses both the Webmail with Chrome and the Outlook desktop client.

[2021-07-28 16:37] amyehodge opened #1858 "Add two new links from home page to library website and update order/layout of header links"
We would like to insert two links on the home page. Both will go to https://library.stanford.edu/research/stanford-digital-repository.

Here's the mockup:
https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/455998487_home

The additions are:
1. On the top right, add link text "SDR Services". Note that the above mockup has the correct order for the links in this area and there should be dot

[2021-07-28 20:21] amyehodge opened #1859 "Update text for three tooltips on work deposit form"
Please update the following tooltips as described below. I've provided the full text for each tool tip.

The bolding is provided to show you which sentence was added (for keywords) or modified (for the other two tooltips).

Keywords -- The second sentence below has been inserted into this tooltip.
"Keywords should reflect significant concepts related to the deposit. **As you type, terms will be su

[2021-07-29 19:28] #1859 closed

[2021-07-29 20:22] amyehodge opened #1865 "Update "What is a DOI?" links"
All of these links should point to https://library.stanford.edu/research/stanford-digital-repository/documentation/purls-and-dois

There are several of these. Please search https://docs.google.com/document/d/16zGrIpRgGkq8d4VDUjEstoB2p8xFEuiAmKJopcT1CaQ/edit# for "What is a DOI?" to find them all.

They are in three place:
1. Collection edit form, including both the initial creation form with every

[2021-07-29 20:24] arcadiafalcone opened #1866 "Implement updated contributor mapping"
See #1863

[2021-07-29 20:25] arcadiafalcone opened #1867 "Implement updated type mapping"
See #1864

[2021-07-29 23:59] #1858 closed

[2021-07-30 00:00] #1828 closed

[2021-07-30 00:02] #1799 closed

[2021-07-30 11:15] #1741 closed

[2021-07-30 13:42] jcoyne commented on #1717
@amyehodge can you make a list of all the email clients and platforms you want to support. We can then make a plan for doing testing in each.

[2021-07-30 17:08] ndushay commented on #685
Update:  still in progress:
![image](https://user-images.githubusercontent.com/96775/127688015-02118fe3-a12d-4222-a7f2-eb13a3dedf10.png)

[2021-07-30 19:45] amyehodge commented on #1718
@jcoyne @andrewjbtw Regarding the workflow post-migration, we only need this group of people to be able to look at the content that is there (correct, @hannahfrost?). They should not be making any changes to any objects or saving or depositing anything. That's all we need to be able to support.

[2021-07-30 19:50] amyehodge commented on #1718
@jcoyne and @justinlittman

Hannah is making final updates to the migration list.

See this step above:

- [ ]  Get the list of collections from Amy (From “Copy of latest final list for test migrations” in https://docs.google.com/spreadsheets/d/1hNxM5hobMzrptxLctWfzDGSrl0ueBg5xGtQ47wFKC2g/edit#gid=1972276175)

THIS SHOULD BE "latest final list" -- NOT "Copy of latest final list for test migrations

[2021-07-30 22:09] arcadiafalcone opened #1874 "Determine type of subject terms from FAST and include in cocina"
(cc @amyehodge )

Each FAST subject term falls into one of these categories:
* Personal Names (cocina type: person)
* Corporate Names (cocina type: organization)
* Event (cocina type: event)
* Uniform Titles (cocina type: title)
* Chronological (cocina type: time)
* Topical (cocina type: topic)
* Geographic (cocina type: place)
* FormGenre (cocina type: genre)
* Meeting (cocina type: conference)

[2021-07-31 00:11] jcoyne commented on #1874
I'm wondering if this is a hard requirement for this to be in h2. Is it possible to put this resolver in the SearchWorks indexer or in the accessioning workflow? When doing this data enrichment, we may encounter problems connecting to remote service.  It's important we design this in a way to have the least likelihood of impacting the depositor.

[2021-08-02 17:26] ndushay commented on #1843
this may be partially done?  Also needs another pass from @arcadiafalcone re: roundtripping concerns (?)

[2021-08-02 17:58] ndushay commented on #1865
main DOI branch doesn't seem to have these links implemented yet.   Maybe the updated link can be noted in a diff ticket for implementation???

[2021-08-02 18:02] ndushay commented on #1727
correct "what is a DOI" link is noted in #1865

[2021-08-02 18:44] jcoyne commented on #1843
@ndushay no, this ticket primarily about exporting this data from h2.

[2021-08-02 21:00] #1577 closed

[2021-08-02 21:25] honeybadger[bot] opened #1879 "[happy-heron/stage] NoMethodError: undefined method `delete_prefix' for nil:NilClass"
## Backtrace

    line 66 of [PROJECT_ROOT]/app/services/request_generator.rb: doi
    line 55 of [PROJECT_ROOT]/app/services/request_generator.rb: identification
    line 42 of [PROJECT_ROOT]/app/services/request_generator.rb: model_attributes

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80726848)

[2021-08-03 14:55] honeybadger[bot] opened #1882 "[happy-heron/qa] TypeError: Return value: Expected type T.any(Reform::Form, User), got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210803145256/app/components/collections/update/participant_row_component.rb:16 Definition: /opt/app/h2/happy-heron/releases/20210803145256/app/components/collections/update/participant_row_component.rb:19"
## Backtrace

    line 16 of [PROJECT_ROOT]/app/components/collections/update/participant_row_component.rb: sunetid
    line 4 of [PROJECT_ROOT]/app/components/collections/update/participant_row_component.html.erb: call
    line 17 of [PROJECT_ROOT]/app/components/collections/update/managers_component.html.erb: block in call

[View full backtrace and more info at honeybadger.io](https://app.honeyb

[2021-08-03 17:20] #1882 closed

[2021-08-03 19:31] justinlittman commented on #1321
I came to the same conclusion as Aaron. @jcoyne thoughts/ideas here?

[2021-08-03 21:55] ndushay commented on #685
The ticket still shows the same status.

[2021-08-03 22:10] ndushay commented on #685
Update:  still in progress.   I'm not sure if anyone else can see the ticket, nor can I see how to change that:  https://data-access-request.stanford.edu/dataowner_list_requests

[2021-08-03 23:09] ndushay commented on #1837
@amyehodge can you include a screen shot showing where you want the trash can added?

[2021-08-03 23:16] ndushay commented on #1879
This should be fixed now ...

[2021-08-03 23:36] #1865 closed

[2021-08-04 15:06] honeybadger[bot] opened #1885 "[happy-heron/prod] ArgumentError: Record must be specified"
## Backtrace

    line 101 of [PROJECT_ROOT]/app/controllers/works_controller.rb: show

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80756412)

[2021-08-04 15:41] #1843 closed

[2021-08-04 17:08] #1035 closed

[2021-08-04 17:51] amyehodge opened #1888 "When there is space, file download icons should be on the same line as the file name"
See https://sdr.stanford.edu/works/1618

There appears to be plenty of space, but some of these have the file download on the next line.

![Screen Shot 2021-08-04 at 1.47.58 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/839463a9-0c95-460b-8ed6-331ed9c02441)

[2021-08-04 17:54] amyehodge opened #1889 "Creation date for collection should match with the information in Argo"
For the Stanford Research Data collection, https://sdr.stanford.edu/collection_versions/168, it says the creation date is July 5, 2011, but the Argo record says Dec 13, 2021: https://argo.stanford.edu/view/druid:md919gh6774

I also want to make sure this isn't a global problem with more collections than just this one.

[2021-08-04 17:54] amyehodge commented on #1888
Reported by @hannahfrost

[2021-08-04 17:54] amyehodge commented on #1889
Reported by @hannahfrost

[2021-08-04 18:38] amyehodge commented on #1888
@astridu, @jcoyne thinks this is the result of the 25% we set the first column for. Do you have any suggestions on how to adjust this so that this layout. In this case it looks odder because there are no file descriptions (and there aren't most of the time), but when there are, this may seem less strange. Not sure if there is a good solution to this.

[2021-08-04 18:43] amyehodge commented on #1837
@ndushay It should be just to the right of the pencil icon. Same place as shown for the regular item in progress in this screenshot.
![Screen Shot 2021-08-04 at 2 43 06 PM](https://user-images.githubusercontent.com/5558511/128237019-39b2c2d2-fdda-4541-a1bc-b74dca4e0e3b.png)

[2021-08-04 19:46] honeybadger[bot] opened #1890 "[happy-heron/prod] NoMethodError: undefined method `[]=' for nil:NilClass"
## Backtrace

    line 19 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: block in filter_attached_files
    line 17 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: filter_attached_files
    line 7 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faul

[2021-08-04 20:01] amyehodge opened #1891 "Content that has already been released should pass validation when versioning"
Example item: https://sdr.stanford.edu/works/746/edit

Attempt to version produced these errors:
![Screen Shot 2021-08-04 at 3.49.51 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/213d8c8f-95a6-409a-8927-a43c49ea7c41)

Release section looks like this:
![Screen Shot 2021-08-04 at 2.55.38 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/c5a83c6d-bed0-4584-

[2021-08-04 20:10] jcoyne commented on #1891
I've duplicated the problem in qa, it occurs when you try to edit an existing item that had been deposited with release set to immediate.

[2021-08-04 21:05] honeybadger[bot] opened #1893 "[happy-heron/stage] RuntimeError: unexpected response: #<Faraday::Response:0x0000000007d18ee8 @on_complete_callbacks=[], @env=#<Faraday::Env @method=:put @request_body=#<File:/data/h2-files/zq/uc/zqucd9v54dbn4m3vtjm7lgww24o9> @url=#<URI::HTTPS https://sdr-api-stage.stanford.edu/v1/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDam9JYTJWNVNTSWhOSGc0TlhJemNEUjVhbWhqTnpacWJHTnplWFF3WXpreE4zVXdNd1k2QmtWVU9oRmpiMjUwWlc1MFgzUjVjR1ZKSWc1MmFXUmxieTl0Y0RRR093WlVPaE5qYjI1MFpXNTBYMnhsYm1kMGFHa0UzSjg0UFRvTlkyaGxZMnR6ZFcxSk..."
## Backtrace

    line 47 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: upload_responses
    line 25 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 10 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80762206)

[2021-08-04 21:10] jcoyne commented on #1893
This was because sdr-api stage didn't have enough space in `/tmp`

[2021-08-04 21:10] #1893 closed

[2021-08-04 21:12] #1891 closed

[2021-08-05 13:32] amyehodge commented on #1740
I'm now ready for these two lists:
- druids for all the collections now in H2
- druids for all the items now in H2

[2021-08-05 14:18] honeybadger[bot] opened #1894 "[happy-heron/prod] TypeError: Parameter 'license_id': Expected type String, got type NilClass Caller: /opt/app/h2/happy-heron/releases/20210804211442/app/components/works/license_component.rb:28 Definition: /opt/app/h2/happy-heron/releases/20210804211442/app/models/license.rb:39"
## Backtrace

    line 28 of [PROJECT_ROOT]/app/components/works/license_component.rb: license_from_collection
    line 23 of [PROJECT_ROOT]/app/components/works/license_component.html.erb: call
    line 31 of [PROJECT_ROOT]/app/components/works/form_component.html.erb: block in call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80776414)

[2021-08-05 15:45] #1889 closed

[2021-08-05 15:49] andrewjbtw commented on #1889
For posterity (since the issue is closed): I think this is more of an Argo issue with how the registration date has been determined over the years. It has been using workflow data rather than the Fedora data.

[2021-08-05 16:34] amyehodge opened #1895 "Remove two decommissioned collections from H2"
Please remove collections druid:cx990yg9488 and druid:mp914tb4244 and all their items from H2. These collections have been decommissioned.

[2021-08-05 17:29] amyehodge commented on #1740
Bulk tagging process used to update all items in these two lists that didn't already have the H2 tag with the H2 tag.

[2021-08-05 17:29] #1740 closed

[2021-08-05 17:39] jcoyne commented on #1895
Done.

[2021-08-05 17:39] #1895 closed

[2021-08-05 20:57] amyehodge opened #1898 "Notify users of encoding errors before they submit items"
Similar to the error found in for jx225zq1407  “Encoding::UndefinedConversionError: “\xE2" from ASCII-8BIT to UTF-8".

This got stuck on the back end and left the user watching the "Depositing" icon spinning. We need to identify any problems like this that will interfere with deposit so the user can fix them before they cause the object to get stuck.

[2021-08-05 21:38] amyehodge opened #1899 "All objects deposited via H2 should have content type="file""
I think we discussed early on setting these based on the work type chosen, but other work is needed to make these render properly on the PURL pages.

Currently, some objects are being set to other content types, e.g. cg999mq8546. The work type is "media" and Argo shows
![Screen Shot 2021-08-05 at 5.37.55 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/25ffdeb7-93d1-4858-b8ae-

[2021-08-05 21:40] amyehodge opened #1900 "DOI links should all be https, not http"

[2021-08-05 23:51] astridu commented on #1888
@jcoyne @amyehodge If file descriptions are rare, could we increase the width of the first column and make the description column narrower?

[2021-08-06 00:56] andrewjbtw commented on #1898
Since this druid made it through Hydrus with this character encoding last fall, is this something that could be addressed in H2 or the SDR API? It seems like some of the system is able to process the characters already.

[2021-08-06 02:48] jcoyne commented on #1899
Is this a duplicate of #608?

[2021-08-06 04:21] andrewjbtw commented on #1899
In a way, but this test item was somehow deposited with content type media https://argo.stanford.edu/view/cg999mq8546 It was deposited June 24 and the events indicate it came via the API, so I'm assuming it was created by H2.

[2021-08-06 04:32] andrewjbtw commented on #1899
I just created an item with work type of video in stage and it came out as moving image:
https://argo-stage.stanford.edu/view/druid:wr200wv1607
https://sul-h2-stage.stanford.edu/works/18388

[2021-08-06 04:45] jcoyne commented on #1888
Sure, but are there other tables we need to increase the width on too so we have alignment?  What should we increase it to?

[2021-08-06 05:10] astridu commented on #1888
We can't just change this table? or are you saying other tables may have this wrapping problem?

[2021-08-06 16:11] jcoyne commented on #1888
@astridu I'm asking about how this issue will relate to this issue https://github.com/sul-dlss/happy-heron/issues/1336

[2021-08-06 16:22] jcoyne commented on #1900
@amyehodge can you provide success criteria for this issue?   Is there something that needs to change at present?

[2021-08-06 16:25] amyehodge commented on #1900
Actually, I believe the mock-ups specify this, so I'm just making sure this is implemented, in light of other recent conversations regarding https. I'll move this to the backlog.

[2021-08-06 18:16] amyehodge commented on #1899
Sounds like this is a problem we need to try to get to, as it's making the content inaccessible on the PURL.

[2021-08-06 18:21] #1718 closed

[2021-08-06 18:33] jcoyne commented on #1898
This is not an encoding error in the submission. This is an error in serializing the error message to JSON so it can be persisted in the database in SDR-API.  The original error message was a "failed to roundtrip" error in DSA and that error has been cleared.

[2021-08-06 18:56] amyehodge commented on #1898
So, it sounds like we can close this? I'm fine with that.

[2021-08-06 19:26] amyehodge commented on #1395
Migrated objects in production are being successfully versioned, so closing this.

[2021-08-06 19:26] #1395 closed

[2021-08-06 19:26] amyehodge commented on #1346
Migrated objects in production are being successfully versioned, so closing this.

[2021-08-06 19:26] #1346 closed

[2021-08-06 19:26] #1280 closed

[2021-08-06 19:26] #1240 closed

[2021-08-06 19:26] #1389 closed

[2021-08-06 20:21] jcoyne commented on #1898
I think so. In any case the problem is not in h2.

[2021-08-06 20:22] #1898 closed

[2021-08-06 20:29] #425 closed

[2021-08-06 20:29] amyehodge commented on #425
Based on how we've implemented the validations, I don't really think we'll ever need this. Closing this ticket.

[2021-08-07 06:14] astridu commented on #1888
@jcoyne Ok, I see now.
@amyehodge Would you be ok with making the width of this column larger for this table? It would result in this table's columns not aligning with the others below it, but it would help the problem you are seeing which is the wrapping.

[2021-08-09 13:41] amyehodge commented on #1888
@astridu @jcoyne Yes, I think that's fine.

[2021-08-09 15:07] amyehodge commented on #1717
The list supported by UIT seems like a good one: https://uit.stanford.edu/emailcalendar/config#office365

[2021-08-09 16:46] jcoyne commented on #1717
Amy are you able to install each of those for testing?

[2021-08-09 16:55] amyehodge commented on #1717
I should be able to test the Android, iOS, and Mac clients. I would have to find someone else to test the Windows ones.

[2021-08-09 16:59] arcadiafalcone commented on #1874
It's important that the subject type gets inserted into the metadata as soon as possible in the object lifecycle, ideally at the point of data creation, definitely before or at indexing (which may happen in multiple places, e.g., both SearchWorks and Spotlight). If it's more effective to do that in another codebase, that's fine, so long as this requirement is met.

[2021-08-09 17:35] jcoyne commented on #1874
@arcadiafalcone can you explain why that is important?

[2021-08-09 17:41] arcadiafalcone opened #1908 "Create mappings for embedding DataCite XML as MODS extension and generating DataCite JSON"

[2021-08-09 17:45] honeybadger[bot] opened #1909 "[happy-heron/prod] NoMethodError: undefined method `[]=' for nil:NilClass"
## Backtrace

    line 18 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: block in filter_attached_files
    line 16 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: filter_attached_files
    line 6 of [PROJECT_ROOT]/app/services/new_version_parameter_filter.rb: call

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faul

[2021-08-09 19:23] arcadiafalcone opened #1911 "Implement mapping for H2 cocina>MODS with DataCite extension"
See https://github.com/sul-dlss/dor-services-app/pull/2986

[2021-08-09 19:42] amyehodge opened #1912 "Generate list of collection managers for imported collections"
We need a list that has in the first column the titles of all the collections imported in H2 (we don't need collections created in H2) and in the second column the SUNet IDs of all the collection managers for each collection.

We need this so we can notify these people about the need to update the license settings for the collection before any items can be created or versioned.

@hannahfrost

[2021-08-09 19:45] jcoyne commented on #1036
@astridu we don't want that text that says "Separate each one with a comma and a space..." in the reviewers section, do we?

[2021-08-09 19:48] amyehodge commented on #1036
@jcoyne no, we don't want that text if each one is in its own box.

[2021-08-09 20:13] honeybadger[bot] opened #1913 "[happy-heron/qa] ActiveRecord::RecordNotSaved: Failed to replace authors because one or more of the new records could not be saved."
## Backtrace

    line 83 of [PROJECT_ROOT]/app/controllers/works_controller.rb: update

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80839790)

[2021-08-09 21:24] arcadiafalcone opened #1914 "Implement mappings for H2 cocina>MODS with DataCite extension>DataCite JSON for event"
See https://github.com/sul-dlss/dor-services-app/pull/2987

[2021-08-09 21:46] honeybadger[bot] opened #1915 "[happy-heron/stage] Errno::ENOENT: No such file or directory @ rb_sysopen - /etc/pki/tls/certs/sul-h2-qa.stanford.edu.pem"
## Backtrace

    line 6 of [PROJECT_ROOT]/app/services/account_service.rb: read
    line 6 of [PROJECT_ROOT]/app/services/account_service.rb: initialize
    line 17 of [PROJECT_ROOT]/app/controllers/accounts_controller.rb: new

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80841476)

[2021-08-09 21:52] #1915 closed

[2021-08-09 21:54] honeybadger[bot] opened #1916 "[happy-heron/stage] NameError: undefined local variable or method `param' for #<AccountsController:0x0000000000ed08> Did you mean? params params="
## Backtrace

    line 17 of [PROJECT_ROOT]/app/controllers/accounts_controller.rb: lookup
    line 10 of [PROJECT_ROOT]/app/controllers/accounts_controller.rb: show

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80841565)

[2021-08-09 22:15] honeybadger[bot] opened #1917 "[happy-heron/stage] URI::InvalidURIError: bad URI(is not URI?): "https://accountws-uat.stanford.edu/accounts/justin c""
## Backtrace

    line 14 of [PROJECT_ROOT]/app/services/account_service.rb: block in fetch
    line 12 of [PROJECT_ROOT]/app/services/account_service.rb: fetch
    line 17 of [PROJECT_ROOT]/app/controllers/accounts_controller.rb: lookup

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80841821)

[2021-08-10 00:38] honeybadger[bot] opened #1918 "[happy-heron/prod] KeyError: key not found: nil"
## Backtrace

    line 40 of [PROJECT_ROOT]/app/models/license.rb: fetch
    line 40 of [PROJECT_ROOT]/app/models/license.rb: find
    line 36 of [PROJECT_ROOT]/app/models/license.rb: label_for

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80843239)

[2021-08-10 03:06] #1917 closed

[2021-08-10 03:06] #1916 closed

[2021-08-10 03:14] #243 closed

[2021-08-10 14:03] amyehodge opened #1920 "Provide contact information for users without any permissions"
As a result of some user feedback yesterday, we realized that users who log in to H2 but don't have any permissions just see a blank page (with headers and footers, I think) and an error message saying they are not authorized to perform the requested action. We had intended to display the contact form and a bit of helpful text for people.

The mockup for that is at https://projects.invisionapp.com

[2021-08-10 15:05] jcoyne commented on #1912
I was able to create this report by running `jq -r '[.name, (.managers | join(", "))] | @csv' collections.jsonl > collections.csv`

And I put it in https://docs.google.com/spreadsheets/d/19Tm0yixkZWxj7WWcXxAn1z8p_whAZujpiuh_xkPXWa8/edit#gid=1487871984

[2021-08-10 15:14] amyehodge commented on #1912
Perfect. Thank you.

[2021-08-10 17:05] #1851 closed

[2021-08-10 17:57] honeybadger[bot] opened #1922 "[happy-heron/stage] ActionPolicy::UnauthorizedAction: Action 'dashboards#show' hasn't been authorized"
## Backtrace

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80854921)

[2021-08-10 18:31] #1922 closed

[2021-08-10 18:47] #1036 closed

[2021-08-10 18:48] #1920 closed

[2021-08-10 18:49] #1899 closed

[2021-08-10 20:27] honeybadger[bot] opened #1923 "[happy-heron/prod] NameError: uninitialized constant AccountService::Addressable"
## Backtrace

    line 25 of [PROJECT_ROOT]/app/services/account_service.rb: template
    line 13 of [PROJECT_ROOT]/app/services/account_service.rb: block in fetch
    line 12 of [PROJECT_ROOT]/app/services/account_service.rb: fetch

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80857529)

[2021-08-10 20:34] #1923 closed

[2021-08-10 20:57] amyehodge opened #1925 "Include a way for user to get rid of SUNet search box"
I typed in "hfrost" to the SUNet ID lookup for managers and it found here, but I decided I didn't want to enter her and there was no way for me to get rid of the results display. Even when I deleted what I had typed, the results persisted.
![Screen Shot 2021-08-10 at 4.59.47 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/f944b453-486c-4f78-94a9-90afb691527f)

[2021-08-10 21:05] #1912 closed

[2021-08-10 21:15] jcoyne commented on #1925
@amyehodge @astridu  What is the desired behavior in this case?

[2021-08-10 21:43] amyehodge commented on #1925
@jcoyne @astridu I'd say that it would be nice next to the "Add" button to have a button for "Don't Add" (but that text is not good) that makes that results box go away and clears the field. Or perhaps when the text in the box is completely cleared by the user that that search results box goes away?

[2021-08-10 21:53] honeybadger[bot] opened #1926 "[happy-heron/stage] NoMethodError: undefined method `agree_to_terms' for #<WorkVersion:0x00000000079aea00>"
## Backtrace

    line 9 of [PROJECT_ROOT]/app/components/dashboard/deposit_progress_component.rb: new
    line 9 of [PROJECT_ROOT]/app/components/dashboard/deposit_progress_component.rb: initialize
    line 8 of [PROJECT_ROOT]/app/components/dashboard/in_progress_row_component.html.erb: new

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/808

[2021-08-10 22:26] honeybadger[bot] opened #1927 "[happy-heron/stage] NoMethodError: undefined method `sig' for AssignPidJob:Class"
## Backtrace

    line 24 of [PROJECT_ROOT]/app/jobs/assign_pid_job.rb: <class:AssignPidJob>
    line 4 of [PROJECT_ROOT]/app/jobs/assign_pid_job.rb: <main>

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80859750)

[2021-08-10 22:28] jcoyne commented on #1926
This is because I needed to rebase the main-doi branch.  It should no longer occur.

[2021-08-10 22:28] #1926 closed

[2021-08-11 03:08] astridu commented on #1925
I think we had a couple of use cases:

![image](https://user-images.githubusercontent.com/42216982/128963456-21d1e1b7-f59a-4063-af3a-497fcf24fe07.png)

[2021-08-11 13:05] amyehodge commented on #1925
@astridu Those mockups are for the ORCID lookup. This is a SUNet ID lookup for adding new collection participants.

[2021-08-11 14:38] amyehodge commented on #54
@astridu Is this work complete now?

[2021-08-11 17:21] honeybadger[bot] opened #1930 "[happy-heron/qa] NoMethodError: undefined method `title' for nil:NilClass"
## Backtrace

    line 6 of [PROJECT_ROOT]/app/presenters/work_title_presenter.rb: show
    line 15 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: title
    line 11 of [PROJECT_ROOT]/app/components/works/link_to_show_component.rb: link

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80872026)

[2021-08-11 17:32] astridu commented on #54
Yes, thanks!

[2021-08-11 19:12] amyehodge commented on #1925
@jcoyne, @astridu has updated the mockups above.

[2021-08-11 19:20] amyehodge opened #1931 "Only reviewers for a collection should be listed in the reviewers section"
I'm now seeing all the depositors repeated in the reviewers list for Stanford Research Data collection. This collection does not even have the review workflow on, so there shouldn't be anyone listed here.

https://sdr.stanford.edu/collections/168/edit#participants

![Screen Shot 2021-08-11 at 3.19.00 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/82982db3-f3e0-443e-8369-aacf

[2021-08-11 20:17] #1931 closed

[2021-08-11 21:22] andrewjbtw opened #1933 "H2 deposits with Stanford-only rights are not getting the correct rights assigned"
Items deposited with H2 where visibility is set to "Stanford community" should get object-level rights of "stanford". Currently, they are getting both

- object-level "stanford" rights
- file-level "world" rights

These file-level rights effectively override the object-level rights, resulting in objects that are actually world-viewable because the files are world-viewable.

Example on stage: https

[2021-08-11 21:23] jcoyne commented on #1933
The bug is here: https://github.com/sul-dlss/happy-heron/blob/main/app/services/cocina_generator/structural/file_generator.rb#L77-L83  It should use `work_version.access` if it is not a hidden file (rather than `world`)

[2021-08-11 21:37] amyehodge opened #1934 "Two users are unable to upload files"
Cheryl Butner reports on https://sdr.stanford.edu/works/3033. She is attempting to replace a file on an existing item.
File is 2.26GB. Error message: Unable to upload file due to: Error storing "Intertidal.zip". Status: 502. Delete the file and try again.

Katherine Poggensee reports on https://sdr.stanford.edu/works/3900/edit. She is attempting to upload 700-800MB. Error message: Unable to upload

[2021-08-11 21:37] amyehodge commented on #1934
@hannahfrost

[2021-08-11 22:08] jcoyne commented on #1934
I suspect that `Status: 502` was when we were deploying updates to prod, they occurred at about the same time.

Is it possible that some of these errors are now just more visible? Now you get a message, but in hydrus it would just not load the next page and the user wouldn't see any error.

[2021-08-12 13:34] amyehodge commented on #1934
People who were unable to get files uploaded -- error message or not -- did contact us. I don't think the problem is that they are reporting this more frequently now. Regardless, it should be able to handle file uploading as well as Hydrus or we will have a lot of manual work on our hands with Globus. These reports are for content well within the capacity of Hydrus.

[2021-08-12 14:10] amyehodge opened #1936 "When a work is assigned a DOI, include it in the email notification"
We should send the DOI in the email notification to depositors when their work is deposited.

There are 3 emails that require this update:
- [Depositor: Item deposited](https://docs.google.com/document/d/1TZVILUrORI25kRZyUZ70vMQYo90Ngp_tqCI7BdU_VyQ/edit#heading=h.xyi7q5k3bfj3)
- [Depositor: New version of item deposited](https://docs.google.com/document/d/1TZVILUrORI25kRZyUZ70vMQYo90Ngp_tqCI7BdU_V

[2021-08-12 14:18] amyehodge opened #1937 ""What's a DOI?" links should open in new tabs"
On both the collection form and the work form, the “What’s a DOI?” link should open in a new tab like the link for the info on the licenses does. For the work form, when I click on that it actually gives me the error message that my work won’t be saved.

[2021-08-12 14:19] amyehodge opened #1938 "Add yes/no text to DOI toggle on work edit form"
On the work edit form for the depositor selects option, it would be better if the toggle looked like the one for the auto-generated citation with the yes and no printed on it so it’s clearer what choice you’re making.

[2021-08-12 14:20] amyehodge opened #1939 "Change text displayed on work show page when depositor has opted out of the DOI."
When the user selects option is on and I’ve chosen not to get the DOI, the display on the item view page is confusing. See https://sul-h2-stage.stanford.edu/works/18398. If I chose no, while is there an indication of what the DOI will be, and what does “if assigned” mean? Assigned by who and when? I think in this case it should have some text that’s clearer that you could get one if you want one b

[2021-08-12 16:06] #1837 closed

[2021-08-12 16:17] jcoyne commented on #1938
@astridu @amyehodge the problem is that the slider widget blends into the darker background:
<img width="154" alt="Screen Shot 2021-08-12 at 11 14 51 AM" src="https://user-images.githubusercontent.com/92044/129231722-5ce3bb8b-7aa3-4645-a298-b5aa3e9d0de9.png">
<img width="145" alt="Screen Shot 2021-08-12 at 11 14 46 AM" src="https://user-images.githubusercontent.com/92044/129231724-c69548f8-0c7b-44

[2021-08-12 16:51] jcoyne commented on #1934
Are the upload problems consistent for these users?  Are they unable to upload any files of any size?

[2021-08-12 17:15] jcoyne commented on #1934
We could look at `chunking: true, retryChunks: true` (in Dropzone) https://codecalamity.com/upload-large-files-fast-with-dropzone-js/  But I don't think that activestorage DiskService supports this, so we'd have to write our own storage service.  This is trivial to support for s3...but we aren't using cloud services. Maybe we could get ops to install MinIO?

[2021-08-12 17:33] #1734 closed

[2021-08-12 18:39] amyehodge opened #1945 "User is unable to access collection edit form"
Hi Amy, I followed your steps; logged in, and see the 'Logout'
link in the top window frame on the right. So the login seems
successful. I find my collection (Collated election voter turnout 2008 to 2018)
and see the "Terms of Use and..." section. I currently have no license
set (this is public data). When I click the pen icon, I get the popup error
window below.

Just FYI; not urgent on my end, a

[2021-08-12 18:42] amyehodge opened #1946 "Include "Discard draft" button for items in the review workflow"
Items that have been
- submitted for approval
- returned for review

should still be able to be deleted entirely. These should have the "Discard draft" button at the bottom of the form, as well as the trash can icon on the relevant tables on the dashboard and collection deposits lists.

[2021-08-12 19:16] amyehodge commented on #1945
He was clicking on the item pencil instead of the collection pencil and was running into this error because the license wasn't properly set.

[2021-08-12 19:16] #1945 closed

[2021-08-12 19:22] #1336 closed

[2021-08-12 19:52] astridu commented on #1938
Can you change the color of the 'No' widget to white?
![image](https://user-images.githubusercontent.com/42216982/129260487-66804b25-3350-4d2b-a498-46f198119edc.png)

[2021-08-12 20:13] amyehodge commented on #1934
Notes from testing with Cheryl Butner.
I just got on zoom with Cheryl and watched her upload files. She is on a Mac using Chrome from her home (not the marine station).
She was able to upload a 98kb Word document using both the drag and drop and the "choose files" options. She then immediately tried to drag and drop the same intertidal.zip file as above and when the green bar was all the way to th

[2021-08-12 20:21] jcoyne commented on #1938
Yes, but that looks like you've also added borders too. What colors is the border?

[2021-08-12 20:36] astridu commented on #1938
border: 767674
fill: C0C0BF
TY!

[2021-08-12 21:50] jcoyne commented on #1938
What do you think of this:
<img width="134" alt="Screen Shot 2021-08-12 at 4 50 13 PM" src="https://user-images.githubusercontent.com/92044/129274684-0efbc416-de2b-4c5b-9c65-4202fb9a7f5b.png">
<img width="137" alt="Screen Shot 2021-08-12 at 4 50 08 PM" src="https://user-images.githubusercontent.com/92044/129274689-d868ee1d-ef82-4411-8aef-518977e4af96.png">

[2021-08-12 21:51] amyehodge commented on #1938
Works for me.

[2021-08-13 14:02] amyehodge commented on #1934
I received the file from Cheryl and was able to upload it to her object this morning. It took about 5-6 minutes on our fiber connection here. For the record, I'm on a Mac using Chrome and I had the VPN connected. I used the drag and drop option.

[2021-08-13 14:13] amyehodge commented on #1934
Details from a third user, Janet Saiki, who reported issues with uploading a file of about 250MB to https://sdr.stanford.edu/works/4638. She had trouble yesterday doing this from home but was successful this morning from Lathrop.

Machine: PC (Stanford machine, so the same one both times)
Browser: Chrome
VPN: connected
Option: Tried the drag and drop (twice) + choose files button (once)
Connection

[2021-08-13 15:07] amyehodge opened #1949 "When in collection edit form and selecting "cancel", user should be taken to the Collection view page"
Ideally, if they were editing settings they should go to the settings tab and if they were editing details they should be taken to the details tab.

Currently, it takes you back to the dashboard.

[2021-08-13 15:14] amyehodge opened #1950 "When in work edit form and user selects "cancel", user should be taken to the work view page"
Currently, user is taken to the collection deposits list.

[2021-08-13 16:30] amyehodge opened #1951 "User is unable to delete a reserved PURL"
Kristin Kutella is the manager of the Stanford Center for East Asian Studies Thesis Collection (https://sdr.stanford.edu/collections/23). A student reserved a PURL when they shouldn't have and she would like to delete it.

(Note: ticket 1837 adds trash can icons for these to the dashboard but is not in production yet.)

She has clicked the pencil icon and selected "Text" as the work type in order

[2021-08-13 16:32] amyehodge commented on #1951
@amyehodge Note to self to let Kristin know when we've fixed this.

[2021-08-13 16:32] amyehodge commented on #1946
@amyehodge Note to self to let Kristin know when we've fixed this.

[2021-08-13 17:35] peetucket commented on #1951
This is a collection manager trying to delete someone else's reserved PURL.

[2021-08-13 18:01] amyehodge opened #1952 "On Deposits list for the collection, when user clicks to the next page of results, scroll back to top of page"
Right now when you click to the next page or select the number of another page, that page loads, but at the bottom, so you have to scroll back up to the top manually.

[2021-08-13 18:49] peetucket commented on #1951
I have a suspicion that the work already done in #1910 and in review in #1947 will fix this.

[2021-08-16 00:34] justinlittman commented on #1934
I wonder if it is worth testing the uploads that are problematic with H2 with Hydrus?

[2021-08-16 00:55] honeybadger[bot] opened #1955 "[happy-heron/stage] NameError: uninitialized constant AccountService::Addressable"
## Backtrace

    line 25 of [PROJECT_ROOT]/app/services/account_service.rb: template
    line 13 of [PROJECT_ROOT]/app/services/account_service.rb: block in fetch
    line 12 of [PROJECT_ROOT]/app/services/account_service.rb: fetch

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80932443)

[2021-08-16 10:59] #1946 closed

[2021-08-16 12:32] justinlittman commented on #685
I can't see the request.

[2021-08-16 14:01] #1952 closed

[2021-08-16 14:04] amyehodge commented on #1934
We could give Cheryl temporary access to Hydrus again to see if she can upload her file there from her house. That's possibly useful? She was able to upload it to Google Drive to send it to me. How different is that?

[2021-08-16 15:14] jcoyne commented on #1934
@amyehodge are you able to download the file from Google and upload it to h2?

[2021-08-16 16:29] amyehodge commented on #1934
@jcoyne Yes. I was able to download it from Google and upload it to H2 without any trouble. Upload took 5-6 minutes on my fiber connection. Hers errored out after about 20 minutes with the progress bar fully green.

[2021-08-16 18:01] amyehodge opened #1959 "Display specific text when an object has not been assigned a DOI and the collection settings are later changed to always assign a DOI"
In this case, the view page should say "DOI will become available once a new version is deposited."

[2021-08-16 18:21] amyehodge opened #1960 "Collection managers and reviewers should be able to edit items submitted for review"
I feel pretty certain that we designed H2 so that collection managers could do this. See #656

From the collection manager, Kristin:
"In the old system, I was able to make small edits for the students prior to approving the submissions.  In the new system, it seems that I can only reject the submission and ask the students to make updates and then resubmit.  This may become problematic because the

[2021-08-16 18:27] amyehodge commented on #1888
@jcoyne Can we put this ticket in the ready? I think all questions have been answered.

[2021-08-16 18:28] amyehodge commented on #1900
These are all displaying as https, so I'm closing this ticket.

[2021-08-16 18:28] #1900 closed

[2021-08-16 19:34] #1949 closed

[2021-08-16 19:36] #1950 closed

[2021-08-16 20:39] amyehodge commented on #1934
Details from testing with Katherine Poggensee.

Machine: PC
Browser: Chrome
VPN: yes
Option: drag & drop OR choose files? Tried both
Connection to internet: wifi on probably cable, but her upload speed to Google Drive was quite slow
Item: https://sdr.stanford.edu/works/3900
File size: 772MB, able to upload a 333MB

I watched her upload the 772MB file again and file. She then put it in a Drive fold

[2021-08-16 21:01] peetucket commented on #1951
I'm wondering if we need to add collection managers in addition to depositors and administrators to this check here:  https://github.com/sul-dlss/happy-heron/blob/main/app/policies/work_policy.rb#L14-L16

[2021-08-16 21:03] amyehodge commented on #1951
@peetucket Reviewers should also be able to do this. That may be another distinct set of user permissions?

[2021-08-16 21:55] jcoyne commented on #1960
Technical background: This was initially fixed in #962 I'm not sure why that isn't working now.

[2021-08-16 21:59] jcoyne commented on #1960
Hannah, who is an application administrator, also has the same problem.

[2021-08-16 22:00] jcoyne commented on #1960
@amyehodge does this mean the admin/manager/review just doesn't see the links to the edit page?

[2021-08-16 22:31] honeybadger[bot] opened #1962 "[happy-heron/prod] ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR: null value in column "license" violates not-null constraint DETAIL: Failing row contains (4703, 1, “THE OVERLIT BATHROOM MIRROR”: SELF-CONSTRUCTION THROUGH TEC..., text, null, null, Newman, S. (2021). “THE OVERLIT BATHROOM MIRROR”: SELF-CONST..., world, null, null, 2021-08-16 22:31:30.694808, 2021-08-16 22:31:30.694808, new, null, {Thesis}, 4646, null)."
## Backtrace

    line 174 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: save_model
    line 168 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: block in save!
    line 167 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: save!

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80947228)

[2021-08-17 06:04] ndushay commented on #685
just checked - shows as "in progress" just like above comments.

[2021-08-17 11:49] justinlittman commented on #1960
Some steps to replicate would be helpful.

[2021-08-17 12:50] amyehodge commented on #1960
Kristin reported:
"I think this is my mistake.  Previously, there was an edit button near the top of the page (if I remember correctly), so I didn't expect to see the pencil icons scattered throughout the page.  Now I see that it's possible to edit individual sections and I just tested it out on one of our student's submissions, so I think it works.  Please disregard my request."

Hannah's issue w

[2021-08-17 12:50] #1960 closed

[2021-08-17 13:14] #1927 closed

[2021-08-17 13:14] #1930 closed

[2021-08-17 15:31] amyehodge commented on #1505
I just testing this in production and we are basically getting rid of these empty fields when saving, so I don't think there is an issue here. Closing this ticket.

[2021-08-17 15:31] #1505 closed

[2021-08-17 15:47] jcoyne commented on #1359
@astridu how should this look if they have long file names like `district means grade equivalent std (gs) (pooled year, grade and sub)_v1_1.csv` (from https://sdr.stanford.edu/works/1618)

[2021-08-17 15:57] amyehodge commented on #1934
Cheryl Butner's speed test results:
![CherylSpeedTest.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/87ebf5a9-fb25-4085-8f92-57f28acd664d)

[2021-08-17 16:18] jcoyne commented on #1934
<img width="730" alt="Screen Shot 2021-08-17 at 11 18 01 AM" src="https://user-images.githubusercontent.com/92044/129763050-c0adc188-6c48-4a94-84e0-8bcfcfa25c8b.png">

My upload speed is 30x faster than that, which might be why this isn't a problem for me.

[2021-08-17 16:20] amyehodge commented on #1934
Ditto. Here's mine:
![Screen Shot 2021-08-17 at 12.20.13 PM.png](https://images.zenhubusercontent.com/5e9e06e81c23039800e23efc/4adc2829-8c7a-4f1d-ac7a-733e43a91df7)

[2021-08-17 16:44] jcoyne opened #1966 "Switch from apparition to cuprite"
Cuprite is now the rails default and possibly better maintained than Apparition: https://github.com/rails/rails/pull/42790

Apparition also has these annoying deprecations:
[code]

[2021-08-17 19:02] amyehodge commented on #1934
From Katherine:
"Right now it's 23.8/14.5 download/upload. My internet seems to be especially slow this morning, so I can check again this afternoon too."

[2021-08-17 19:11] honeybadger[bot] opened #1969 "[happy-heron/stage] ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR: null value in column "work_version_id" violates not-null constraint DETAIL: Failing row contains (243642, null, Hannah, Frost, 2021-08-17 19:11:36.072295, 2021-08-17 19:11:36.072295, person, Thesis advisor, null, Contributor, null, null)."
## Backtrace

    line 169 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: block in save!
    line 168 of [PROJECT_ROOT]/app/forms/draft_work_form.rb: save!
    line 28 of [PROJECT_ROOT]/app/controllers/works_controller.rb: create

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/80961079)

[2021-08-17 19:22] amyehodge opened #1970 "Problem depositing items under some conditions."
I'm having problems depositing some items. When this happens, the page reloads without any of my changes and there are no error messages on the page.

Steps to recreate this issue:
1. Clicked on “Deposit to this collection”
2. selected Text > technical report
3. Add a single 11b file via drag and drop. did not add a description
4. Typed in a short title
5. Typed in one email address
6. Selected OR

[2021-08-17 19:38] jcoyne commented on #1970
It looks to me like this occurs when you enter an orcid that does not begin with `https://orcid.org`

[2021-08-18 05:45] astridu commented on #1359
Can we have it wrap?
![image](https://user-images.githubusercontent.com/42216982/129844010-774b6770-aaee-4025-8c3c-bca94522f3fe.png)

[2021-08-18 11:46] #1970 closed

[2021-08-18 12:23] #1499 closed

[2021-08-18 13:05] #1966 closed

[2021-08-18 13:06] #1925 closed

[2021-08-18 13:08] amyehodge commented on #1934
Speed test notes from Janet:
"Download results: 17.1 Mpbs
Upload results: 0.8 Mpbs"

That upload speed is crazy slow.

[2021-08-18 14:01] jcoyne opened #1977 "Ignore PendingConnectionsError"
https://github.com/rubycdp/ferrum

We can set `pending_connection_errors` to false

[2021-08-18 16:08] #1888 closed

[2021-08-18 16:13] jcoyne commented on #1969
This occurred because the DOI was not valid. It was fixed by adding better front end validation on DOI.

[2021-08-18 16:13] #1969 closed

[2021-08-18 17:58] amyehodge opened #1978 "Change webp images on home page to something Safari on Catalina can render properly"

[2021-08-18 18:03] jcoyne commented on #1978
https://web.dev/serve-images-webp/

We can continue to serve webp to browsers that support it via:

[code]

[2021-08-18 19:39] justinlittman commented on #1977
Can you say more about this? How does it manifest? How to reproduce?

[2021-08-18 20:15] amyehodge opened #1979 "Reserved PURL is not displaying the right default license"
Item: https://sdr.stanford.edu/works/4659/edit

This collection is set for depositor selects with a CC0 1.0 license as the default. When I reserve a PURL and then open it to edit, it has "no license" displayed as the default.

[2021-08-18 20:26] amyehodge commented on #1951
Here are some samples of reserved PURLs that can't be deleted:

Item: https://sdr.stanford.edu/works/4658
Collection: https://sdr.stanford.edu/collections/67
User: akrogman

Item: need to check
Collection: https://sdr.stanford.edu/collections/23
User: kkutella

[2021-08-18 20:38] jcoyne commented on #1951
<img width="1158" alt="Screen Shot 2021-08-18 at 3 37 21 PM" src="https://user-images.githubusercontent.com/92044/129968920-2593a04f-5d38-478f-a58d-4449d5edb1a7.png">
It looks like you can delete it from the collection page.

[2021-08-18 20:47] amyehodge commented on #1934
I just used Microsoft Remote Desktop to connect to one of the machines in the GIS lab on campus. I downloaded two files of 3.5 and 4.4GB sent to me by Cheryl Butner and attempted to upload them to her items via that machine. The green bar filled in pretty quickly (I didn't time it), but at the end I got an error:

![Screen Shot 2021-08-18 at 4.43.25 PM.png](https://images.zenhubusercontent.com/5e9

[2021-08-18 20:58] jcoyne commented on #1934
@amyehodge it's important that we distinguish the two separate problems here.  One is "Status 502" which means the application isn't responding, and "Status 0" which means a network error.

[2021-08-18 21:01] jcoyne commented on #1934
I saw these lines in the Apache web server error log that may correspond:
[code]

[2021-08-18 21:08] jcoyne commented on #1934
I believe that ops can fix the "502" problem by setting a larger value for `ProxyTimeout`. I believe it is currently set to 2 minutes.  The reason we can't just turn it up to infinity is that we want connections to timeout if there's really no hope of them concluding and then the resource can be reused.  If all the resources are used, then nobody can use the server.  Would 5 minutes be a reasonabl

[2021-08-18 21:14] jcoyne commented on #1977
It's an intermittent failure in feature specs, see https://app.circleci.com/pipelines/github/sul-dlss/happy-heron/3573/workflows/4b3cd7ee-01ea-48f0-bf36-dfba8bf57a9a/jobs/14355/tests#failed-test-0 for an example.

[2021-08-18 21:21] peetucket commented on #1951
I looked at the first item ("Test PURL for Amy") and it passes all of the policy/permissions checks that should allow it to be deleted:

[code]

The collection page that lists the deposits shows the trash can for me.  I don't see it on my dashboard as a collection or deposit in progress because it's not mine, so I can't confirm that part.

![Screen Shot 2021-08-18 at 2.18.27 PM.png](https://images

[2021-08-18 21:34] amyehodge commented on #1934
Ah. I haven't been distinguishing between the two issues all the time, you're right.

[2021-08-18 21:39] amyehodge commented on #1951
@peetucket  Ali sees the trash can icons as well as the discard draft button, but when she tries the discard draft button, she it taken to the home page with the error message about not having permissions.

[2021-08-18 21:41] amyehodge commented on #1934
@jcoyne 10 minutes would be better. If people can't get their files up we'll have to do it for them on the back end, and we're trying to get out of that business, not deeper in.

[2021-08-18 21:44] peetucket commented on #1951
ahh, ok.  Does it work for you? (as the depositor).  You are also an administrator (as am I probably), so maybe there is a distinction there that still needs some thought

[2021-08-18 21:46] amyehodge commented on #1951
It always works for me. I have been able to delete both my own items and ones in collections that I can only access because I'm an admin (i.e. I don't have depositor/reviewer/manager status).

[2021-08-18 21:52] peetucket commented on #1951
Ok, that's good to know.  I have more code change that may make a difference that I can work on.

[2021-08-19 13:36] jcoyne opened #1981 "Export a cocina descriptive form with datacite type."
From https://docs.google.com/spreadsheets/d/1EiGgVqtb6PUJE2cI_jhqnAoiQkiwZtar4tF7NHwSMz8/edit?usp=sharing

[2021-08-19 16:29] jcoyne commented on #1934
Can you see if they are able to upload the one that gave the 502 error today?

[2021-08-19 16:30] jcoyne commented on #1934
@amyehodge Let's try 5 first and see if we run into more errors. I'm concerned that turning it to 10 means we could prevent the webserver from handling requests from other users.

[2021-08-19 16:52] amyehodge commented on #1934
@jcoyne Can it only handle one request at a time?

I'm testing this now.

[2021-08-19 17:00] amyehodge commented on #1946
Huzzah! I have two user confirmations that this is now working in production, including from the person who originally reported the issue.

[2021-08-19 17:04] amyehodge commented on #1934
I was able to connect remotely to that desktop on campus and get both of the large files uploaded to their respective items. I then attempted this twice from my fiber connection here in VT. It failed the first time and I neglected to note which error message I got. When I tried it again (after shutting off the webinar I was watching), the upload succeeded. Thanks upping the time. It definitely hel

[2021-08-19 19:34] honeybadger[bot] opened #1984 "[happy-heron/stage] Cocina::Models::ValidationError: #/components/schemas/Purl pattern ^https:\/\/ does not match value: "http://sul-purl-stage.stanford.edu/vn508fz6163""
## Backtrace

    line 18 of [PROJECT_ROOT]/app/services/cocina_generator/description/generator.rb: generate
    line 8 of [PROJECT_ROOT]/app/services/cocina_generator/description/generator.rb: generate
    line 40 of [PROJECT_ROOT]/app/services/cocina_generator/dro_generator.rb: model_attributes

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/fault

[2021-08-19 19:38] jcoyne commented on #1984
Needed a config change for stage.

[2021-08-19 19:38] #1984 closed

[2021-08-19 19:43] jcoyne commented on #1981
Fixed by #1982

[2021-08-19 19:43] #1981 closed

[2021-08-19 19:43] #1962 closed

[2021-08-19 19:44] #1955 closed

[2021-08-19 19:44] #1913 closed

[2021-08-19 19:45] #1951 closed

[2021-08-19 19:45] amyehodge commented on #1951
Both the original reporter of this issue, Kristin, and my other tester Ali report that both the discard draft button and the trash can icons now successfully delete reserved PURLs. I am closing this ticket!

[2021-08-19 19:45] #1341 closed

[2021-08-19 19:45] #1429 closed

[2021-08-19 19:45] #1748 closed

[2021-08-19 19:45] #1805 closed

[2021-08-19 19:45] #1806 closed

[2021-08-19 19:45] #1807 closed

[2021-08-19 19:45] #1808 closed

[2021-08-19 19:45] #1809 closed

[2021-08-19 19:45] #1840 closed

[2021-08-19 19:45] #1849 closed

[2021-08-19 19:45] #1879 closed

[2021-08-19 19:45] #1885 closed

[2021-08-19 19:45] #1890 closed

[2021-08-19 19:45] #1894 closed

[2021-08-19 19:45] #1909 closed

[2021-08-19 19:45] #1918 closed

[2021-08-19 19:50] #1933 closed

[2021-08-19 19:50] #1874 closed

[2021-08-19 20:06] jcoyne opened #1985 "DOI option when reserving a PURL"
When the collection is set for the Depositor to choose to use a DOI and I reserve a PURL, there should be a widget showing the DOI choice to the user.

See Astrid’s mockups at https://projects.invisionapp.com/share/EQXC9CLKCR2#/screens/453759485

![Screen Shot 2021-08-19 at 3.07.19 PM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/9d0f8096-481f-4549-aaaf-980357f18a5a)

[2021-08-19 20:09] #1732 closed

[2021-08-19 21:55] hannahfrost opened #1987 "Files deposited under Stanford only access rights are available for world download on PURL"
A user has uncovered a bug in the access rights.

Files deposited with the setting of Stanford-only access are downloadable by non-authenticated users.

The access rights setting in Argo says "stanford and world (file)" which I don't believe I have ever seen before.

Here is a test item that I created to reproduce the error reported by the user:
druid:sj995gy8148
https://sdr.stanford.edu/works/466

[2021-08-19 22:03] jcoyne commented on #1987
I believe this is a duplicate of https://github.com/sul-dlss/happy-heron/issues/1933

[2021-08-19 22:07] amyehodge commented on #1987
Agreed

[2021-08-19 22:07] #1987 closed

[2021-08-20 02:45] astridu opened #1988 "Refine spacing of ORCID UI"
Current
![image](https://user-images.githubusercontent.com/42216982/130171031-1124f75e-0f0e-4e49-af6f-55c35acf1045.png)

Proposed design
![image](https://user-images.githubusercontent.com/42216982/130170988-155a028f-3744-49b1-92f5-e2392a171a0b.png)

[2021-08-20 02:47] astridu opened #1989 "Accessibility: Change font color to increase contrast"
This text is gray "Name associated with this ORCID iD is Astrid Usong."
Change to black.

[2021-08-20 02:50] astridu opened #1990 "Accessibility: Group radio buttons for ORCID"
These 2 radio buttons need to be grouped together.
![image](https://user-images.githubusercontent.com/42216982/130171438-57a5afac-8d9f-424f-be75-1f3d4e4e7952.png)
Form elements are not grouped
 3.3.2 Labels or Instructions
When a form contains elements that are logically connected to each other it is necessary to group them.

The form contains check boxes and/or radio buttons that are not grouped

[2021-08-20 12:23] justinlittman commented on #1988
Can you please provide a specification/description of the spacing? It is hard to determine the appropriate changes just by looking at the two mockups.

[2021-08-20 13:11] #1977 closed

[2021-08-20 15:14] #1978 closed

[2021-08-20 16:10] astridu commented on #1988
Does this work?
![image](https://user-images.githubusercontent.com/42216982/130262426-e66e33ac-b3f9-4a15-a6d5-7d37d5d3eb44.png)

[2021-08-20 16:28] justinlittman commented on #1988
Yup, that helps.

[2021-08-20 19:24] honeybadger[bot] opened #1996 "[happy-heron/qa] RuntimeError: There was an error with your request: {"errors":[{"status":"400","title":"Cocina-models version mismatch","detail":"The API accepts cocina-models version 0.61.3 but you provided 0.62.0. Run \"bundle update\" and then retry your request."}]}"
## Backtrace

    line 26 of [PROJECT_ROOT]/app/jobs/deposit_collection_job.rb: create_or_update
    line 20 of [PROJECT_ROOT]/app/jobs/deposit_collection_job.rb: deposit
    line 8 of [PROJECT_ROOT]/app/jobs/deposit_collection_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/81010807)

[2021-08-20 19:29] honeybadger[bot] opened #1997 "[happy-heron/qa] RuntimeError: There was an error with your request: {"errors":[{"status":"400","title":"Cocina-models version mismatch","detail":"The API accepts cocina-models version 0.61.3 but you provided 0.62.0. Run \"bundle update\" and then retry your request."}]}"
## Backtrace

    line 28 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: create_or_update
    line 21 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 8 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/81010846)

[2021-08-20 19:40] honeybadger[bot] opened #1998 "[happy-heron/prod] Faraday::TimeoutError: Net::ReadTimeout with #<TCPSocket:(closed)>"
## Backtrace

    line 39 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: upload_responses
    line 19 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: deposit
    line 8 of [PROJECT_ROOT]/app/jobs/deposit_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/77112/faults/81011216)

[2021-08-20 20:29] justinlittman opened #1999 "Data sorting in All Collections table"
Per @amyehodge:

[2021-08-23 14:54] #416 closed

[2021-08-23 15:35] #1392 closed

[2021-08-23 17:10] #1999 closed

[2021-08-23 17:11] #1989 closed

[2021-08-23 20:03] #1996 closed

[2021-08-23 20:03] #1997 closed

[2021-08-23 20:03] #1998 closed

[2021-08-23 20:14] amyehodge opened #2004 "When collection is set to always assign a DOI, reserved PURLs hang when you try to complete the deposit"
See https://sul-h2-stage.stanford.edu/works/18451

The collection is set to always assign a DOI.
I reserved a PURL.
Then I went in to edit the PURL and entered all the required metadata.
Clicked "Deposit."
I'm taken to the interstitial page as expected but when I go to the item view page the depositing icon is spinning and it never finishes.